:host {
    // ion-content {
    //     --background: url("/assets/img/signupbg-01.svg") no-repeat;
    //     background-size: cover;
    //     background-position: 50% 54%;
    // }
    #container {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 99;
        // transform: translateY(-50%);
    }
    #container strong {
        font-size: 20px;
        line-height: 26px;
    }
    #container p {
        font-size: 16px;
        line-height: 22px;
        color: #8c8c8c;
        margin: 0;
    }
    #container a {
        text-decoration: none;
    }
    .logo {
        width: 50%;
        margin: 50px auto 40px;
        display: block;
    }
    .form {
        width: 100%;
        padding: 10px;
    }
    .input-block {
        text-align: start;
        padding: 5px;
        width: 100%;
        display: block;
        margin: 0 auto;
        position: relative;
        input.ng2-tel-input {
            width: 100%!important;
            border-radius: 5px;
            height: 42px;
            border: 1px solid #a8a6a6;
            padding: 8px 8px 8px 80px;
        }
    }
    .form-card {
        width: 90%;
        margin: 0 auto;
    }
    ion-card.signup-card {
        box-shadow: none;
        background: transparent;
    }
    .signin-text {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        left: 0;
        text-align: center;
    }
    .lang-btn {
        margin: 0 auto;
        display: table;
    }
    ion-select {
        border: 1px solid #b6b4b4;
        border-radius: 5px;
    }
    .show-password {
        position: absolute;
        right: 15px;
        bottom: 18px;
        z-index: 99;
        ion-icon {
            color: #c1c1c1;
        }
    }
}