<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="goBack('/myaccount')">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="animate__animated animate__fadeIn">
  <div id="container" class="">
    <!-- <h4 class="ion-text-center">Register</h4> -->
    <div class="form-card">
      <ion-card class="ac-setting-card">
        <ion-item lines="none">
          <ion-label>
            <p>
              <ion-icon
                name="mail-outline"
                color="secondary"
                class="icon-space"
              ></ion-icon>
              Email
            </p>
            <p
              *ngIf="userData && (userData.roleCodes.includes('MG') || userData.roleCodes.includes('ST'))"
            >
              {{userData?.email}}
            </p>
            <p *ngIf="userData && (userData.roleCodes.includes('MR'))">
              {{userData.storeEmail}}
            </p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>
              <ion-icon
                name="phone-portrait-outline"
                color="secondary"
                class="icon-space"
              ></ion-icon>
              Mobile Number
            </p>
            <h3>{{userData?.mobileNo}}</h3>
          </ion-label>
        </ion-item>
        <form [formGroup]="passwordForm">
          <div class="form">
            <div *ngIf="!showOtpBtn">
              <div class="input-block">
                <ion-label>New Password</ion-label>
                <ion-input
                  type="password"
                  formControlName="password"
                  placeholder="New Password"
                  autocomplete="new-password"
                  (input)="comparePassword()"
                  [type]="isTextFieldType ? 'text' : 'password'"
                ></ion-input>
                <div class="show-password">
                  <ion-icon
                    [name]="isTextFieldType ? 'eye-off' : 'eye'"
                    (click)="togglePasswordFieldType()"
                  >
                  </ion-icon>
                </div>
              </div>
              <div class="input-block">
                <ion-label>Retype Password</ion-label>
                <ion-input
                  type="password"
                  formControlName="confirmPassword"
                  placeholder="Retype Password"
                  autocomplete="new-password"
                  (input)="comparePassword()"
                  [type]="isTextFieldType ? 'text' : 'password'"
                ></ion-input>
              </div>
              <div class="validation-error">
                <ion-label color="danger" *ngIf="compareConfirmPassword">
                  Passwords Does Not Match
                </ion-label>
                <ion-label color="danger" *ngIf="mandatory">
                  Please Enter All Fields
                </ion-label>
                <ion-label color="danger" *ngIf="patternPassword">
                  Password should contain numbers and<br />alphabets with
                  atleast 6 characters
                </ion-label>
              </div>
              <ion-row>
                <ion-col class="ion-float-left">
                  <ion-button
                    expand="block"
                    shape="round"
                    color="light"
                    type="button"
                    (click)="goBack('/myaccount')"
                    class="ion-margin-top"
                    >Cancel</ion-button
                  >
                </ion-col>
                <ion-col class="ion-float-right">
                  <ion-button
                    expand="block"
                    color="primary"
                    shape="round"
                    type="button"
                    class="ion-margin-top"
                    [disabled]="!submitBtnEnable"
                    (click)="doChangePassword()"
                    >Submit</ion-button
                  >
                </ion-col>
              </ion-row>
            </div>
            <div *ngIf="showOtpBtn">
              <div class="heading">
                <p class="sub-text">
                  <ion-icon
                    name="keypad-outline"
                    color="secondary"
                    class="icon-space"
                  ></ion-icon>
                  Enter OTP sent to
                  <span
                    >{{userData?.mobileNoDialCode}}&nbsp;{{userData?.mobileNo}}</span
                  >
                </p>
              </div>
              <ion-label
                ion-button
                class="resend-btn bold"
                *ngIf="resendOtpEnable"
                (click)="resend()"
                >Resend</ion-label
              >
              <div class="input-block">
                <div class="otp-block">
                  <ion-label class="otp-title">One Time Password</ion-label>
                  <ng-otp-input
                    (onInputChange)="onOtpChange($event)"
                    [config]="config"
                  ></ng-otp-input>
                </div>
                <p class="ion-text-center otp-time-text" *ngIf="timeLeft">
                  {{dateService.secondsToTimeFormat(timeLeft)}}
                </p>
              </div>

              <div class="validation-error">
                <ion-label color="danger" *ngIf="otpError">
                  Please Enter Valid OTP
                </ion-label>
              </div>
              <ion-row>
                <ion-col class="ion-float-left">
                  <ion-button
                    expand="block"
                    shape="round"
                    color="light"
                    type="button"
                    (click)="showChangePassword()"
                    class="ion-margin-top"
                    >Back</ion-button
                  >
                </ion-col>
                <ion-col class="ion-float-right">
                  <ion-button
                    expand="block"
                    color="primary"
                    shape="round"
                    type="button"
                    class="ion-margin-top"
                    [disabled]="!verifyBtnEnable"
                    (click)="verifyOtp()"
                    >Verify & Submit</ion-button
                  >
                </ion-col>
              </ion-row>
            </div>
          </div>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
