<ion-header class="ion-no-border">
  <ion-toolbar>
    <img class="logo" src="./assets/icon/bocxy-logo.svg" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="">
    <h4
      class="ion-text-center"
      [ngClass]="
    translate.currentLang ? 'font-' + translate.currentLang : ''
  "
    >
      {{'LOGIN_ITEMS.PASSWORD_RECOVERY' | translate}}
    </h4>
    <div class="form-card">
      <ion-card class="signup-card">
        <div *ngIf="!reqOTP" class="validation-error">
          <ion-label
            color="danger"
            *ngIf="exist === 1 && !forgotForm.get('mobileNumber').hasError('required') && !forgotForm.get('mobileNumber').hasError('invalid_cell_phone')"
          >
            Mobile number is not registered!
          </ion-label>
          <ion-label
            color="danger"
            *ngIf="(formSubmitted || forgotForm.get('mobileNumber').touched) && forgotForm.get('mobileNumber').hasError('invalid_cell_phone')"
          >
           Please enter the valid mobile number
          </ion-label>
          <ion-label
            color="danger"
            *ngIf="(formSubmitted ||forgotForm.get('mobileNumber').touched)&& forgotForm.get('mobileNumber').hasError('required')"
          >
            Please enter mobile number
          </ion-label>
        </div>
        <form
          [formGroup]="forgotForm"
          (keyup.enter)="goToNext()"
          (submit)="goToNext()"
        >
          <!--Register Block-->
          <div class="form animate__animated animate__fadeIn" *ngIf="!reqOTP">
            <div class="input-block sign-input">
              <ion-label
                [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
                >{{'PLACEHOLDER_MSG.MOBILE_NUMBER' | translate}}</ion-label
              >
              <input
                appBlockCopyPaste
                class="ng2-tel-input"
                type="tel"
                ng2TelInput
                [ng2TelInputOptions]="telInputOptions"
                (hasError)="hasError($event)"
                (ng2TelOutput)="getNumber($event)"
                (intlTelInputObject)="telInputObject($event)"
                (countryChange)="onCountryChange($event)"
                formControlName="mobileNumber"
                name="mobileNumber"
                (input)="changePhone()"
                (keypress)="numberValidate($event)"
                #ngTelInput
              />
            </div>
            <ion-button
              expand="block"
              shape="round"
              color="primary"
              type="submit"
              class="ion-margin-top"
              [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
              >{{'COMMON.SUBMIT' | translate}}</ion-button
            >
            <ion-button
              expand="block"
              shape="round"
              color="light"
              type="button"
              (click)="previous()"
              class="ion-margin-top"
              [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
              >{{'COMMON.BACK' | translate}}</ion-button
            >
          </div>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
