<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="terms-conditions">
  <div class="heading">TERMS AND CONDITIONS</div>
  <div class="ion-padding">
    <p>
      1. Contractual Relationship These Terms of Use ("Terms") govern the access
      or use by you, an individual, from within India of applications, websites,
      content, products, and services (the "Services") made available by Bocxy
      Technologies India Private Limited, having its registered office at No.
      2/19, 5th Cross Street, United India Colony, Kodambakkam Chennai 600024
    </p>
  </div>
  <div class="heading">
    PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING THE SERVICES.
  </div>
  <div class="ion-padding">
    <p>
      Your access and use of the Services constitutes your agreement to be bound
      by these Terms, which establishes a contractual relationship between you
      and Bocxy. If you do not agree to these Terms, you may not access or use
      the Services. These Terms expressly supersede prior written agreements
      with you. Supplemental terms may apply to certain Services, such as
      policies for a particular event, activity or promotion, and such
      supplemental terms will be disclosed to you in connection with the
      applicable Services. Supplemental terms are in addition to, and shall be
      deemed a part of, the Terms for the incentive bonuses, or other special
      offer rewards, shall automatically terminate. In the event of termination,
      your Account will be disabled and you may not be granted access to your
      Account or any files or other data contained in your Account.
      Notwithstanding the foregoing, residual data may remain in the Bocxy
      system. Upon termination, the following shall occur: all licenses granted
      to you hereunder will immediately terminate; and you shall promptly
      destroy all copies of Bocxy data, Marks and other content in your
      possession or control. You further acknowledge and agree that Bocxy shall
      not be liable to you or any third party for any termination of your access
      to the Bocxy Platform. Upon termination, Bocxy retains the right to use
      any data collected from your use of the Bocxy Platform for internal
      analysis and archival purposes, and all related licenses you have granted
      Bocxy hereunder shall remain in effect for the foregoing purpose. In no
      event is Bocxy obligated to return any Service Partner Content to you. Any
      term which by its nature is intended to survive expiration or termination
      of these Terms shall survive expiration or termination of these Terms
      deems fit and in the interest of maintaining the integrity of its business
      and the Bocxy’s Platform.
    </p>
    <p>
      General. You may not assign or transfer these Terms in whole or in part
      without Bocxy's prior written approval (which will not be unreasonably
      withheld). You give your approval to Bocxy for it to assign or transfer
      these Terms in whole or in part, including to: (i) a subsidiary or
      affiliate; (ii) an acquirer of Bocxy's equity, business or assets; or
      (iii) a successor by merger. No joint venture, partnership, employment or
      agency relationship exists between you, Bocxy or any User as a result of
      the contract between you and Bocxy or use of the Services. If any
      provision of these Terms is held to be illegal, invalid or unenforceable,
      in whole or in part, under any law, such provision or part thereof shall
      to that extent be deemed not to form part of these Terms but the legality,
      validity and enforceability of the other provisions in these Terms shall
      not be affected. In that event, the parties shall replace the illegal,
      invalid or unenforceable provision or part thereof with a provision or
      part thereof that is legal, valid and enforceable and that has, to the
      greatest extent possible, a similar effect as the illegal, invalid or
      unenforceable provision or part thereof, given the contents and purpose of
      these Terms. These Terms, including any incorporated policies, constitute
      the entire written agreement and understanding of the parties with respect
      to its subject matter and replaces and supersedes all prior or
      contemporaneous written agreements or undertakings regarding such subject
      matter. In these Terms, the words "including" and "include" mean
      "including, but not limited to."
    </p>
    <p>
      Brand Collateral. You can purchase Bocxy Brand Collateral from Bocxy.
      While it is not mandatory to do so, to promote trust and safety with Users
      it is advisable to purchase and use Bocxy Brand Collateral while using the
      Services and fulfilling service requests placed by Users.
    </p>
    <p>
      Orientation. Before gaining access to the Services and being allowed to
      receive Leads you are required to attend an Orientation program at your
      local Bocxy office, or remotely or at your premises by our Orientation
      specialist. The purpose of the Orientation is to enable you to understand
      how the Bocxy Platform works and to ways and means to maximise your
      earning potential on the Bocxy Platform Use of recommended products. Bocxy
      may recommend certain products that need to be used by you to deliver
      services to the Users. This is to ensure your safety as well as that of
      the Users. Any deviation from the recommended list of products will
      entitle Bocxy to take appropriate measures against you, including but not
      limited to reduction of credits from your Account, increase of Lead Price
      and any other measures that Bocxy acting reasonably venue of the
      Arbitration shall be the city in which the dispute arises. Any
      proceedings, including documents and briefs submitted by the parties,
      correspondence from a mediator, and correspondence, order and awards
      issued by an arbitrator, shall remain strictly confidential and shall not
      be disclosed to any third party without the express written consent from
      the other party unless: (i) the disclosure to the third party is
      reasonably required in the context of conducting the mediation or
      arbitration proceedings; and (ii) the third party agrees unconditionally
      in writing to be bound by the confidentiality obligation set out in these
      Terms.
    </p>
    <p>
      Other Provisions Claims of Copyright Infringement. Claims of copyright
      infringement should be sent to No. 2/19, 5th Cross Street, United India
      Colony, Kodambakkam Chennai 600024.
    </p>
    <p>
      Notice. Bocxy may give notice by means of a general notice on the
      Services, electronic mail to your email address in your Account, or by
      written communication sent to your address as set forth in your Account.
      You may give notice to Bocxy by written communication to Bocxy
      Technologies Private Limited, No. 2/19, 5th Cross Street, United India
      Colony, Kodambakkam Chennai 600024.
    </p>
    <p>
      Resolution of Disputes. Disputes may also be raised during focus group
      discussions that are regularly organized in the cities in which Bocxy
      operates. You may use any of the above mechanisms to raise a Dispute to
      challenge or appeal against any decision that has been taken, with regard
      to your access to or use of the Services, by Bocxy. In the unlikely event
      that a Dispute raised by you is not resolved and you, these Terms shall be
      exclusively governed by and construed in accordance with the laws in force
      in India. In the event of an unresolved Dispute, the parties shall first
      attempt to amicably settle the dispute through Mediation. If the dispute
      between the Parties cannot be resolved through Mediation within a period
      of 45 days from the reference of the dispute to Mediation, the Parties may
      pursue final and binding arbitration or other alternative dispute
      resolution as agreed upon by the parties. Arbitration will be in
      accordance with the Arbitration and Conciliation Act, 1996 (as amended
      from time to time) and the arbitral tribunal will consist of three
      arbitrators — one each to be nominated by the parties and the third to be
      appointed on mutual agreement between the two arbitrators nominated by the
      parties. The seat and connection with: (i) your use of the Services or
      services or goods obtained through your use of the Services; (ii) your
      breach or violation of any of these Terms; (iii) Bocxy's use of your User
      Content; or (iv) your violation of the rights of any third party,
      including Users ("Losses"). Your liability under this clause shall be
      reduced proportionately if, and to the extent that, Bocxy directly caused
      or contributed to any such Losses.
    </p>
    <p>
      Dispute Resolution There are a number of mechanisms available to you to
      resolve any dispute, conflict, claim or controversy arising out of or
      broadly in connection with or relating to the Services or these Terms,
      including those relating to its validity, its construction or its
      enforceability (any "Dispute"). Bocxy or its affiliate operates a
      complaints process to allow you to make complaints about Bocxy or Users,
      and Bocxy or its affiliate also manages refunds to you in relation to
      those complaints. Bocxy or its affiliate will operate this complaints
      process in a reasonable manner. To raise a dispute you may first contact
      an Bocxy employee at your local city office. Alternatively you may also
      raise your Dispute through the helpline ("Partner Helpline") provided for
      the recording and SUCH DAMAGES. BOCXY SHALL NOT BE LIABLE FOR ANY DAMAGES,
      LIABILITY OR LOSSES ARISING OUT OF: (i) YOUR USE OF OR RELIANCE ON THE
      SERVICES OR YOUR INABILITY TO ACCESS OR USE THE SERVICES; OR (ii) ANY
      TRANSACTION OR RELATIONSHIP BETWEEN YOU AND ANY USER, EVEN IF BOCXY HAS
      BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. BOCXY SHALL NOT BE LIABLE
      FOR DELAY OR FAILURE IN PERFORMANCE RESULTING FROM CAUSES BEYOND BOCXY'S
      REASONABLE CONTROL. IN NO EVENT SHALL BOCXY'S TOTAL LIABILITY TO YOU IN
      CONNECTION WITH THE SERVICES FOR ALL DAMAGES, LOSSES AND CAUSES OF ACTION
      EXCEED RS.10,ooo.oo (RUPEES TEN THOUSAND). BOCXY WILL MAINTAIN A
      COMPLAINTS MANAGEMENT FRAMEWORK, AND WILL MANAGE THIS FRAMEWORK ON YOUR
      BEHALF, IN A REASONABLE WAY AND IN ACCORDANCE WITH APPLICABLE LAW.
    </p>
    <p>
      Indemnity. You agree to indemnify and hold Bocxy and its affiliates and
      their officers, directors, employees and agents harmless from any and all
      claims, demands, losses, liabilities, and expenses (including attorneys'
      fees) arising out of or in excluded, restricted or modified except to a
      limited extent, as between Bocxy and you by law.
    </p>
    <p>
      LIMITATION OF LIABILITY. BOCXY SHALL NOT BE LIABLE FOR INDIRECT,
      INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES,
      INCLUDING LOST PROFITS, LOST DATA RELATED TO, IN CONNECTION WITH, OR
      OTHERWISE RESULTING FROM ANY USE OF THE SERVICES, EVEN IF BOCXY HAS BEEN
      ADVISED OF THE POSSIBILITY OF Disclaimers; Limitation of Liability;
      Indemnity.
    </p>
    <p>
      DISCLAIMER. THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE." TO THE
      MAXIMUM EXTENT PERMITTED BY LAW, BOCXY DISCLAIMS ALL REPRESENTATIONS AND
      WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, NOT EXPRESSLY SET OUT IN THESE
      TERMS, INCLUDING ANY IMPLIED WARRANTIES OF NON-INFRINGEMENT, AND MAKES NO
      REPRESENTATION, WARRANTY, OR GUARANTEE REGARDING THE RELIABILITY,
      TIMELINESS, QUALITY, SUITABILITY OR AVAILABILITY OF THE SERVICES OR ANY
      SERVICES OR GOODS REQUESTED THROUGH THE USE OF THE SERVICES, OR THAT THE
      SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. BOCXY DOES NOT GUARANTEE
      YOUR SAFETY WHILE DELIVERING SERVICE REQUESTS. YOU AGREE THAT THE ENTIRE
      RISK ARISING OUT OF YOUR USE OF THE SERVICES, AND ANY SERVICE OR GOOD
      REQUESTED IN CONNECTION THEREWITH, REMAINS SOLELY WITH YOU, TO THE MAXIMUM
      EXTENT PERMITTED UNDER APPLICABLE LAW Statutory Guarantees. Bocxy does not
      exclude, restrict or modify any liability that cannot be excluded,
      restricted or modified. or which cannot be * immediately, where Bocxy
      reasonably suspects that: * you have, or are likely to, materially breach
      these Terms; and/or * you do not, or are likely not to, qualify, under
      applicable law or the standards and policies of Bocxy and its affiliates,
      to access and use the Services; or * where Bocxy, acting reasonably,
      terminates these Terms or any Services for any legitimate business, legal
      or regulatory reason. Without limiting its other rights under these Terms,
      Bocxy may immediately restrict or deactivate your access to the Services
      if you breach the Privacy Policy and/or Community Guidelines (where
      applicable) at any time. You may terminate these Terms at any time, for
      any reason by informing Bocxy either in writing or by visiting Bocxy's
      local city office of your decision to terminate. Effect of Termination
      Upon termination of these Terms, your right to participate in the Bocxy
      Platform, including, but not limited to, your right to offer or purchase
      services and your right to receive any fees or compensation, including,
      without limitation, referral discounts, disability, sexual orientation,
      sex, marital status, gender identity, age or any other characteristic
      protected under applicable law. Such discrimination includes, but is not
      limited to, any your refusal to provide services based on any of these
      characteristics. If it is found that you have violated this prohibition
      you will lose access to the Bocxy platform. Applicable laws in certain
      jurisdictions may require and/or allow the provision of services by and
      for the benefit of a specific category of persons. In such jurisdictions,
      services provided in compliance with these laws and the relevant
      applicable terms are permissible. Suspension and Termination Bocxy may
      restrict you from accessing or using the Services, or any part of them,
      immediately, without notice, in circumstances where Bocxy reasonably
      suspects that: * you have, or are likely to, breach these Terms; and/or *
      you do not, or are likely not to, qualify, under applicable law or the
      standards and policies of Bocxy and its affiliates, to access and use the
      Services. Bocxy may terminate these Terms or any Services with respect to
      you, or generally cease offering or deny access to the Services or any
      portion thereof: Platform and/or any other mode of communication. You may
      use this invoice for your accounting and tax filing purposes. Taxes You
      understand that Bocxy is acting solely as an intermediary for the
      collection of payments and fees between Users and you. State and local tax
      laws vary significantly by locality and you, therefore, understand and
      agree that you are solely responsible for determining your own tax
      reporting requirements in consultation with tax advisors. Bocxy cannot and
      does not offer tax advice to you. Further, you understand that Bocxy shall
      not be responsible or liable in any manner in relation to tax liability
      that you may incur. In case of unregistered Housekeeping services ('HK
      services'), Bocxy shall pay taxes and raise tax invoices under Section
      9(5) of Central Goods and Services Tax Act, 2017, on your behalf.
      Additionally, any other applicable taxes (whether direct or indirect) that
      are liable to be deducted on your behalf will be done so by Bocxy and the
      payment due to you from the Users will be net of such deductions towards
      applicable taxes. No Discrimination. Bocxy prohibits discrimination
      against other service providers or users based on race, religion, caste,
      national origin, delivered by you to the said User. You agree and
      acknowledge that the amount to be paid by a User for the services offered
      by you may vary based on geographical areas, population density, time
      periods, demand, weather and traffic conditions, local or national
      holidays, particular days of the week and other factors that might be
      determined by Bocxy from time to time. This payment structure and
      determination of the amounts to be paid by the Users to you is intended to
      fully compensate you for the services provided by you to the User. Bocxy
      does not designate any portion of the payment received by you as a tip or
      gratuity from the User. Any representation by Bocxy on the Bocxy Platform
      to the effect that tipping is "voluntary/' "not required/' and/or
      "included" in the payments made for services provided is not intended to
      suggest that Bocxy provides any additional amounts, beyond those described
      above. You understand and agree that, while Users are free to provide
      additional payment as a gratuity to you, the Users are under no obligation
      to do so. Gratuities are voluntary. Bocxy will, on your behalf, generate
      an invoice for the services provided by you to the User. The invoice will
      be raised in your name and sent to the User via the Bocxy.
    </p>
    <p>
      You are responsible for such rates and fees. You are responsible for
      acquiring and updating compatible hardware or devices necessary to access
      and use the Services and Applications and any updates thereto. Bocxy does
      not guarantee that the Services, or any portion thereof, will function on
      any particular hardware or devices. In addition, the Services may be
      subject to malfunctions and delays inherent in the use of the Internet and
      electronic communications.
    </p>
    <p>
      Payment After you have delivered your services to the Users through your
      use of the Service, Bocxy will facilitate the payment of the applicable
      amount to be paid by the User to you as your limited payment collection
      agent. Payment of the amount payable by the User in such manner shall be
      considered the same as payment made directly by the User to you. Such
      payments will be inclusive of applicable taxes where required by law.
      Amounts paid by the User to you are final and non-refundable, unless
      otherwise determined by Bocxy. You retain the right to receive a lower
      amount as final payment towards the delivery of services by you to a User.
      Bocxy will respond accordingly to any request from you to modify the
      amount to be paid by a User for a particular service necessary to grant
      Bocxy the licence to the Service Partner Content as set forth above; and
      (ii) neither the Service Partner Content nor your submission, uploading,
      publishing or otherwise making available of such Service Partner Content
      nor Bocxy's use of the Service Partner Content as permitted herein will
      infringe, misappropriate or violate a third party's intellectual property
      or proprietary rights, or rights of publicity or privacy, or result in the
      violation of any applicable law or regulation. You agree to not provide
      Service Partner Content that is defamatory, libelous, hateful, racist,
      violent, obscene, pornographic, unlawful, or otherwise offensive, as
      determined by Bocxy in its sole discretion, whether or not such material
      may be protected by law. Bocxy may, but shall not be obligated to, review,
      monitor, or remove Service Partner Content, at Bocxy's sole discretion and
      at any time and for any reason, without notice to you. Network Access and
      Devices. You are responsible for obtaining the data network access
      necessary to use the Services. Your mobile network's data and messaging
      rates and fees may apply if you access or use the Services from a
      wireless- enabled device and you shall be discretion, permit you from time
      to time to submit, upload, publish or otherwise make available to Bocxy
      through the Services textual, audio, and/or visual content and
      information, including commentary and feedback related to the Services,
      initiation of support requests, and submission of entries for competitions
      and promotions ("Service Partner Content"). Any Service Partner Content
      provided by you remains your property. However, by providing Service
      Partner Content to Bocxy, you grant Bocxy a worldwide, perpetual,
      irrevocable, transferable, royalty-free licence, with the right to
      sublicence, to use, copy, modify, create derivative works of, distribute,
      publicly display, publicly perform, and otherwise exploit in any manner
      such Service Partner Content in all formats and distribution channels now
      known or hereafter devised (including in connection with the Services and
      Bocxy's business and on third-party sites and services), without further
      notice to or consent from you, and without the requirement of payment to
      you or any other person or entity. You represent and warrant that: (i) you
      either are the sole and exclusive owner of all Service Partner Content or
      you have all rights, licences, consents and releases manner, or made
      available to any person other than yourself; (ii) may be disabled by Bocxy
      at any time for any reason without liability to Bocxy; (iii) are not valid
      for cash; and (iv) may expire prior to your use.
    </p>
    <p>
      Bocxy reserves the right to withhold or deduct Bocxy’s credits or Promo
      Bocxy’s Credits in the event that Bocxy reasonably determines or believes
      that the use of the Bocxy’s Credits or Promo Bocxy’s Credits was in error,
      fraudulent, illegal, or in violation of the applicable Promo Code terms or
      these Terms. You acknowledge that Bocxy may, from time to time, advance
      certain amounts to you ("Business Advances"). In all cases where you.
      Avail of a Business Advance from Bocxy, you will remain liable to repay
      the same to Bocxy as per a pre- agreed repayment schedule. You further
      acknowledge and authorise Bocxy to deduct the relevant amounts towards
      repayment of the said Business Advances from the Bocxy’s Credits/payout in
      your Account. Service Partner Provided Content. Bocxy may, in Bocxy's sole
      Thousand). Unutilised/unclaimed Bocxy’s Credits or Pre- Deposit for a
      continuous period of more than 364 days from the date of deposit of such
      credits in your Account shall expire and stand forfeited. No refund of
      Credits will be processed after the expiry date. You, additionally,
      acknowledge and authorize Bocxy to deduct relevant amounts towards payment
      of equated monthly instalments to be paid to Non- Banking Financial
      Companies ('INBFCs") when loans have been availed by you from such NBFCs
      for the purposes of offering services on the Bocxy platform. You also
      acknowledge and authorize Bocxy to deduct payments towards advances made
      by Bocxy to you for the use of the Bocxy platform. All payments made by
      Users will be made to you net of the said deductions. Bocxy from time to
      time in in its own discretion may issue Bocxy’s Credits, free of charge,
      ("Promo Bocxy Credits") to your Account and/or may create promotional
      codes that may be redeemed for Account credit, or other features or
      benefits related to the Services subject to any additional terms that
      Bocxy establishes. You agree that all Promo Bocxy Credits: (i) may not be
      duplicated, sold or transferred in any after accepting such a request,
      Bocxy shall be at liberty to determine whether or not to refund the
      Pre-Deposit to you. You agree that in cases where Bocxy determines that
      the Pre-Deposit is not required to be refunded to you due to your
      cancellation of an accepted request placed by a User, you will relinquish
      the right to make any claims for refund of the Pre- Deposit.
    </p>

    <p>
      Account Credits. You will, at all times, be required to maintain a minimum
      balance of credits ("Bocxy’s Credits") in your Account to be able to
      accept service requests placed by Users via the Bocxy’s Platform. You may
      further use Bocxy’s Credits to make Pre-Deposits, purchase goods and
      services offered by Bocxy to you from time to time. You agree and
      acknowledge that your use of the Services may be affected if you do not
      have the requisite Bocxy’s Credits in your Account. Bocxy’s Credits will
      be credited to your Account against payment being made by you to obtain
      the Bocxy’s Credits. To ensure maintenance of the Pre-Deposit (as
      mentioned in the preceding paragraph) you acknowledge and authorize Bocxy
      to deduct certain amounts from the payments made by the Users to you. The
      deductions in this regard will be subject to a maximum of INR 10,000
      (Rupees Ten value of the Lead. Pre-Deposit may be secured as a percentage
      of the aggregate value of Lead or as a fixed sum. The quantum of the
      Pre-Deposit for the particular services offered by you to the User will be
      communicated to you from time to time or before the communication of a
      Lead. Further, to be able provide a lower Pre- Deposit to you, and to be
      able to provide you with adequate Leads, Bocxy will provide you with a
      calendar on the Bocxy’s Platform. You will be required to indicate your
      proposed availability during a given calendar month on the calendar
      provided via the IJC Platform. This will enable Bocxy to determine the
      most efficient manner in which to send Leads to you. Further, we shall
      derive our convenience fee for providing the digital marketplace services
      from the User. In case a User pays online, we shall retain our convenience
      fee from the amount received online, and remit the balance monies to you
      along with your pre-deposit (secured at the time of lead acceptance). In
      case a User pays you for the Services in cash we shall retain the pre-
      deposit amount, setting it off against the convenience fee you have
      collected from the User on our behalf. If you cancel a request placed by a
      User The ratings threshold for your particular category and your
      particular city will be communicated to you either through the Bocxy
      Platform or via text message or by an Bocxy employee in your city. If your
      ratings fall below the minimum threshold your access to the Bocxy’s
      platform will be temporarily blocked. In the event your ratings fall below
      the prescribed threshold and your access to the Services is temporarily
      blocked, you will be required to attend a training session to reactivate
      your access to the Services.
    </p>
    <p>
      Pre-Deposit. You are required to deposit (using Bocxy’s Credits)
      ("Pre-Deposit") a pre-determined amount with Bocxy in order to be able to
      accept requests made by Users ("Leads") for your services. The details
      required to connect with a User will only be communicated to you after the
      Pre-Deposit is made to Bocxy. The quantum of the Pre-Deposit will be based
      on the aggregate acknowledge that you will not allow any other person to
      access and use your account and that you will not share your login
      credentials (i.e. your user name and password) with any other person. If
      it is reasonably suspected by Bocxy that you have shared your login
      credentials or allowed a person other than yourself to access and use your
      Account, your access to the Account will be suspended without notice to
      you. In cases where it is established that you have allowed a person other
      than yourself to access and use your Account, these Terms will stand
      terminated and your access to the Services will be permanently revoked
      without notice to you. You may only possess one Account. If it is found
      that you possess multiple Accounts on the Bocxy Platform, your access to
      all Accounts on the Bocxy Platform will be permanently revoked without
      notice. You hereby expressly acknowledge and agree that you and not Bocxy
      will be liable for your losses and damages (whether direct or indirect)
      caused by an unauthorized use of your Account. Notwithstanding the
      foregoing, you may be liable for the losses of Bocxy or others due to such
      unauthorized use. You acknowledge that your continued use of the Services
      is subject to you maintaining a minimum ratings threshold. shall remain
      Bocxy's property or the property of Bocxy's licensors. Neither these Terms
      nor your use of the Services convey or grant to you any rights: (i) in or
      related to the Services except for the limited licence granted above; or
      (ii) to use or reference in any manner Bocxy's company names, logos,
      product and service names, trade marks or services marks or those of
      Bocxy's licensors ("Marks Your Use of the Services Accounts. You must be
      at least 18 years of age, to obtain an Account, unless a specific Service
      permits otherwise. Account registration requires you to submit to Bocxy
      certain personal information, such as your name, address, mobile phone
      number and age, as well as valid government issued identification and
      trade licences (if applicable), government approvals allowing you to offer
      your services, and/or requisite tax registrations. You agree to maintain
      accurate, complete, and up-to-date information in your Account at all
      times and you acknowledge that failure to do so shall result in your
      access to the Services being suspended without notice to you. No person
      other than yourself has the right to access your account. You agree and
      your use of the Services; and (ii) access and use any content, information
      and related materials that may be made available through the Services, in
      each case solely for your commercial use. Any rights not expressly granted
      herein are reserved by Bocxy and Bocxy's licensors.
    </p>
    <p>
      Restrictions. You may not: (i) remove any copyright, trade mark or other
      proprietary notices from any portion of the Services; (ii) reproduce,
      modify, prepare derivative works based upon, distribute, licence, lease,
      sell, resell, transfer, publicly display, publicly perform, transmit,
      stream, broadcast or otherwise exploit the Services except as expressly
      permitted by Bocxy; (iii) decompile, reverse engineer or disassemble the
      Services except as may be permitted by applicable law; (iv) link to,
      mirror or frame any portion of the Services; (v) cause or launch any
      programs or scripts for the purpose of scraping, indexing, surveying, or
      otherwise data mining any portion of the Services or unduly burdening or
      hindering the operation and/or functionality of any aspect of the
      Services; or (vi) attempt to gain unauthorized access to or impair any
      aspect of the Services or its related systems or networks. Ownership. The
      Services and all rights therein are and not provide any supervision,
      directions or control over the individual services that you offer to
      Users. You will obtain and possess at your own cost and at all times,
      while accessing and using the Services, the necessary
      approvals/licenses/tax registrations required to offer your services to
      Users. You have no authority to bind Bocxy in any respect. You further
      acknowledge that Bocxy does not provide any of the services that you offer
      to Users via the Bocxy’s Platform and that Bocxy does not function as a
      provider of the particular services that you are offering to Users via the
      Platform. Bocxy only seeks to provide the Bocxy’s Platform wherein you and
      Users can be brought together and has no role in the execution or
      provision of the services you provide to Users. You are solely responsible
      for the services that you provide to the Users. Bocxy accepts liability
      for the Services and Application that it provides to you subject to these
      Terms. Licence. Subject to your compliance with these Terms, Bocxy grants
      you a limited, non-exclusive, non-sublicensable, revocable,
      non-transferrable license to: (i) access and use the Applications on your
      personal device solely in connection with platform that enables you, as an
      independent third party provider ("Service Partner") access to and use of
      Bocxy's mobile applications or websites (each, an "Application";
      collectively "Bocxy Platform") to: (a) arrange and schedule delivery of
      services with end-users of those services, who have an agreement with
      Bocxy or its affiliates ("Users"); (b) determine the amount to be paid by
      the Users to you for the services provided by you; (c) determine the
      maximum and efficient utilisation of your time while using the Services;
      (d) take measures to maximise your earning potential through use of the
      Services; and (e) facilitate receipt of payments from Users for services
      offered by you via the Bocxy Platform and generation of receipts for those
      payments as well as tax invoices where applicable.
    </p>
    <p>
      No Employment. The Services are made available solely for your commercial
      use, unless Bocxy has agreed with you otherwise in a separate agreement.
      You acknowledge that there is no contract of employment between yourself
      and Bocxy and that you will provide your services as an independent
      contractor. Further, no agency, partnership or joint venture is created as
      a result of these Terms or your provision of services to Users. You will
      not seek and Bocxy will provide to a claims processor or an insurer any
      necessary information (including your contact information) if there is a
      complaint, dispute or conflict, which may include an accident, involving
      you and a third party and such information or data is necessary to resolve
      the complaint, dispute or conflict. Bocxy may also provide to a law
      enforcement agency, statutory body, governmental agency and/or
      investigative agency any necessary information (including your contact
      information) if required by law or in furtherance of any investigation
      involving you and a third party and such information or data is necessary
      towards the enquiry/investigation that is being carried out by the said
      body and/or agency as the case may be. The Privacy Policy is hereby
      incorporated into the Terms of Use set forth herein. Your use of this
      Website is governed by the Privacy Policy. The Privacy Policy is located
      at: Privacy Policy. The Privacy Policy contains information about how
      users may seek access to and correction of their personal information held
      by Bocxy and how they may make a privacy complaint.
    </p>
    <p>
      The Services Bocxy will provide the Services to you under this Agreement.
      The Services constitute the provision of a technology purposes of the
      applicable Services. Supplemental terms shall prevail over these Terms in
      the event of a conflict with respect to the applicable Services.
      MODIFICATIONS TO TERMS OF USE AND/ OR PRIVACY POLICY Bocxy reserves the
      right, in its sole discretion, to change, modify, or otherwise amend the
      Terms of Use, and any other documents incorporated by reference herein for
      complying with legal and regulatory framework and for other legitimate
      business purposes, at any time, and Bocxy will post the amended Terms of
      Use at the domain of www.Bocxy.com/terms. It is your responsibility to
      review the Terms of Use for any changes and you are encouraged to check
      the Terms of Use frequently. Your use of the Website following the date
      that amendments to the Terms of Use take effect will signify your assent
      to and acceptance of any revised Terms of Use. If you do not agree to
      abide by these or any future Terms of Use, please do not use or access the
      Website PRIVACY POLICY Bocxy has established a Privacy Policy that
      explains to users how their personal information is collected and used.
      Bocxy may disclose users' personal information to third parties. Bocxy may
    </p>
  </div>
</ion-content>
