<ion-header class="ion-no-border">
    <ion-toolbar>
        <img class="logo" src="./assets/icon/bocxy-logo.svg" />
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container" class="">
        <h4 class="ion-text-center">Enter Verfication Code</h4>
        <div class="form-card">
            <!--OTP Validation Errors-->
            <div class="validation-error">
                <ion-label color="danger" *ngIf="otpError">
                    Please Enter Valid OTP
                </ion-label>
            </div>
            <ion-card class="signup-card">
                <form [formGroup]="onOtpForm" (keyup.enter)="verifyOtp()" (submit)="verifyOtp()">
                    <!--OTP Block-->
                    <div class="form animate__animated animate__fadeIn">
                        <p>
                            We have sent a 4 digit verification code to your mobile number
                        </p>
                        <div class="otp-block">
                            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                        </div>

                        <p class="ion-text-center otp-time-text" *ngIf="timeLeft">
                            {{dateService.secondsToTimeFormat(timeLeft)}}
                        </p>
                        <div class="ion-text-center" item-center>
                            <a *ngIf="resendOtpEnable" href="javascript:void(0)">
                                <span class="resend-btn" (click)="resend()">Resend</span>
                            </a>
                        </div>
                        <ion-button expand="block" shape="round" color="primary" type="submit" class="ion-margin-top" [disabled]="verifyBtnEnable">
                            Verify
                        </ion-button>
                        <ion-button expand="block" fill="outline" shape="round" type="button" color="medium" class="ion-margin-top" (click)="previous()">
                            Back
                        </ion-button>
                    </div>
                </form>
            </ion-card>
        </div>
    </div>
</ion-content>