<ion-header class="ion-no-border">
  <ion-toolbar>
    <img class="logo" src="./assets/icon/bocxy-logo.svg" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="">
    <h4
      class="ion-text-center bold"
      [ngClass]="
    translate.currentLang ? 'font-' + translate.currentLang : ''
  "
    >
      {{'LOGIN_ITEMS.SIGN_IN' | translate}}
    </h4>
    <div class="form-card">
      <ion-card class="signup-card">
        <!--Login Errors-->
        <div class="validation-error">
          <ion-label
            color="danger"
            *ngIf="(formSubmitted || loginForm.get('mobileNumber').touched || loginForm.get('password').dirty) && loginForm.get('mobileNumber').hasError('invalid_cell_phone')"
          >
            Please enter valid mobile number
          </ion-label>
          <ion-label
            color="danger"
            *ngIf="(formSubmitted || loginForm.get('mobileNumber').touched || loginForm.get('password').dirty) && loginForm.get('mobileNumber').hasError('required')"
          >
            Please enter mobile number
          </ion-label>
          <ion-label
            color="danger"
            *ngIf="(formSubmitted || loginForm.get('mobileNumber').touched || loginForm.get('password').dirty) && !mobileNumErr && !storeApproval && !activeErr && !loginForm.get('mobileNumber').hasError('required') && !loginForm.get('mobileNumber').hasError('invalid_cell_phone') && loginForm.get('password').hasError('required')"
          >
            Please enter password
          </ion-label>
          <ion-label color="danger" *ngIf="(formSubmitted) && mobileNumErr">
            Account doesn't exist
          </ion-label>
          <ion-label
            color="danger"
            *ngIf="(formSubmitted) && passwordErr && !loginForm.get('password').hasError('required')"
          >
            Incorrect passsword
          </ion-label>
          <ion-label color="danger" *ngIf="(formSubmitted) && activeErr">
            Account disabled
          </ion-label>
          <ion-label color="danger" *ngIf="(formSubmitted) && storeApproval">
            Store approval is pending
          </ion-label>
        </div>
        <form
          [formGroup]="loginForm"
          (keyup.enter)="login()"
          (submit)="login()"
        >
          <div class="form">
            <div class="input-block sign-input">
              <ion-label
                [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
                >{{'PLACEHOLDER_MSG.MOBILE_NUMBER' | translate}}</ion-label
              >
              <input
                appBlockCopyPaste
                class="ng2-tel-input"
                type="tel"
                ng2TelInput
                [ng2TelInputOptions]="telInputOptions"
                (hasError)="hasError($event)"
                (ng2TelOutput)="getNumber($event)"
                (intlTelInputObject)="telInputObject($event)"
                (countryChange)="onCountryChange($event)"
                formControlName="mobileNumber"
                name="mobileNumber"
                (input)="changePhone()"
                (keypress)="numberValidate($event)"
                #ngTelInput
              />
            </div>
            <div class="input-block">
              <ion-label
                [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
              >
                {{'PLACEHOLDER_MSG.PASSWORD' | translate}}
              </ion-label>
              <ion-input
                type="password"
                formControlName="password"
                name="password"
                (input)="typeChange('password')"
              ></ion-input>
            </div>
            <div class="ion-text-end">
              <p
                routerLink="/forgotpw"
                [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
              >
                {{'LOGIN_ITEMS.FORGOT_PASSWORD' | translate}}
              </p>
            </div>

            <ion-button
              expand="block"
              shape="round"
              color="primary"
              type="submit"
              class="ion-margin-top"
              [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
            >
              {{'LOGIN_ITEMS.SIGN_IN' | translate}}
            </ion-button>
          </div>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="isKeyboardHide">
  <ion-toolbar class="ion-text-center">
    <p
      [ngClass]="
    translate.currentLang ? 'font-' + translate.currentLang : ''
  "
    >
      {{'LOGIN_ITEMS.NEW_USER' | translate}}
      <span class="bold text-secondary" routerLink="/signup"
        >{{'LOGIN_ITEMS.SIGN_UP' | translate}}</span
      >
    </p>
    <!-- <div class="divider"></div>
      <ion-item lines="none" class="ion-text-center lang-btn">
          <ion-button (click)="onClick()" color="secondary" size="small" expand="block" fill="clear" shape="round">
              English
          </ion-button> |
          <ion-button (click)="onClick()" size="small" expand="block" fill="clear" shape="round">
              Tamil
          </ion-button>
      </ion-item> -->
  </ion-toolbar>
</ion-footer>
