ion-label {
    font-size: 10px;
}


.txt_right {
    float: right;
}

.txt-padding {
    padding-left: 10px;
}

.border-table {
    border-bottom: black 1px solid;
    border-top: black 1px solid;

}

.col-right {
    border-right: black 1px solid;

}

@media screen and (max-width: 600px) {
    ion-label {
        font-size: 10px;
    }
}


@media screen and (min-width: 601px) {
    ion-label {
        font-size: 13px;
        font-weight: bold;
    }
}

.blink_me {
    animation: blinker 1s linear infinite;
    color: #e91e63;
    font-size: small;
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}