<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>billing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <!-- <ion-card class="card1" hidden>
      <ion-card-content>
        <div class="service-card">
          <ion-row>
            <ion-col size="7">
              <ion-label>Service</ion-label>
              <h3 class="bold secondary-text">Manicure - Luxury Manicure</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Price</ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>5500
              </h3>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label>Stylist</ion-label>
              <h3 class="bold">Tom</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Duration</ion-label>
              <h3 class="bold">3h</h3>
            </ion-col>
            <div class="divider"></div>
          </ion-row>
        </div>
       
        <ion-row>
          <ion-col size="7">
            <h3 class="bold blue-text">
              Total ({{1}})
            </h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label class="bold">
              <ion-badge color="primary">
                <span>Rs.</span> {{5500}}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> -->

    <ion-card class="card1" *ngIf="bookedServices && bookedServices.length>0">
      <ion-card-content>
        <!--Service Card-->
        <div class="service-card" *ngFor="let service of bookedServices">
          <ion-row>
            <ion-col size="7">
              <ion-label>Service</ion-label>
              <h3 class="bold secondary-text">{{service.name}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Price</ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>{{service.price}}
              </h3>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label>Stylist</ion-label>
              <h3 class="bold">{{service.stylist}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Duration</ion-label>
              <h3 class="bold">{{service.totalDuration}}</h3>
            </ion-col>
            <div class="divider"></div>
          </ion-row>
        </div>
        <!--//Service Card-->

        <!--Total-->
        <ion-row>
          <ion-col size="7">
            <h3 class="bold blue-text">
              Total ({{appointment.bookedServices.length}})
            </h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label class="bold">
              <ion-badge color="primary">
                <span>Rs.</span> {{appointment.totalPriceExpected }}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
        <!--//Total-->
      </ion-card-content>
    </ion-card>



    <ion-card class="card1" *ngIf="productlist && productlist.length>0">
      <ion-card-content>
        <!--Service Card-->
        <div class="service-card" *ngFor="let product of productlist">
          <ion-row>
            <ion-col size="7">
              <ion-label>Product</ion-label>
              <h3 class="bold secondary-text">{{product.productName}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Price </ion-label>
              <!-- <ion-icon name="close-circle-outline" style="float: right;
                font-size: large;
                color: red;" (click)="presentAcceptAlertConfirm(product,2)"></ion-icon> -->
              <h3 class="bold secondary-text">
                <span>Rs.</span>{{product.totalprice}}
              </h3>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label>Quantity</ion-label>
              <h3 class="bold">{{product.choosequantity}}</h3>
            </ion-col>
            <!-- *ngIf="product.choosediscount" -->
            <ion-col size="5">
              <ion-label>Discount</ion-label>
              <h3 class="bold">{{product.discountAmount}}</h3>
            </ion-col>
            <div class="divider"></div>
          </ion-row>
        </div>
        <!--//Service Card-->

        <!--Total-->
        <ion-row>
          <ion-col size="7">
            <h3 class="bold blue-text">
              Total ({{productlist.length}})
            </h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label class="bold">
              <ion-badge color="primary">
                <span>Rs.</span> {{totalProductAmount}}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
        <!--//Total-->
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <!-- <form [formGroup]="billingForm"> -->

    <ion-row hidden>
      <ion-col size="12" *ngIf="!valueSelected">

        <ion-label>Select Discount</ion-label>
        {{valueSelected}}

        <ion-select ok-text="Okay" cancel-text="Cancel" (ionChange)="onSelectDiscount($event)" style="border: 1px solid #b6b4b4;
        border-radius: 5px;
        margin-top: 3px;
        --min-height: 35px;text-align: left;" interface="action-sheet" [(ngModel)]="valueSelected">
          <ion-select-option value="Disc.by value">By Value</ion-select-option>
          <ion-select-option value="Disc.by Percentage">By Percentage</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="5" *ngIf="valueSelected">
        <ion-label>Select Discount</ion-label>
        <ion-select ok-text="Okay" cancel-text="Cancel" (ionChange)="onSelectDiscount($event)" style="border: 1px solid #b6b4b4;
        border-radius: 5px;
        margin-top: 3px;
        --min-height: 35px;text-align: left;" interface="action-sheet" [(ngModel)]="valueSelected">
          <ion-select-option value="Disc.by value">By Value</ion-select-option>
          <ion-select-option value="Disc.by Percentage">By Percentage</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="7" *ngIf="valueSelected">
        <div *ngIf="isByValue"><ion-label>Disc. By Value</ion-label> </div>
        <div style="display: flex;" *ngIf="isByValue">
          <ion-button class="discount_btn" style="height: 40px;"><span>₹</span></ion-button>
          <ion-input type="number" [(ngModel)]="byValue" (keyup)="discountChange($event)"></ion-input>
        </div>
        <div *ngIf="!isByValue"> <ion-label>Disc. By Percentage</ion-label></div>
        <div style="display: flex;" *ngIf="!isByValue">
          <ion-button class="discount_btn" style="height: 40px;"><span>%</span></ion-button>
          <ion-input type="number" [(ngModel)]="byPercentage" (keyup)="discountChange($event)"></ion-input>
        </div>

      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-label>Redeem Gift Voucher</ion-label>
        <ion-select ok-text="Okay" cancel-text="Cancel" style="border: 1px solid #b6b4b4;
          border-radius: 5px;
          margin-top: 3px;
          --min-height: 35px;text-align: left;" [(ngModel)]="redeemVoucher">
          <ion-select-option value=100>Amazon Gift Card</ion-select-option>
          <ion-select-option value=200>Flipkart Gift Card</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row> -->


    <ion-row>
      <ion-col>
        <ion-label>Mode Of Payment</ion-label>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="4" *ngFor="let mode of cardValue">
        <div style="height: 100%; align-items: center; justify-content: center;" (click)="modeOfPayment(mode)">
          <ion-card class="card_value" [ngClass]="mode.isSelected?'selected_card':'unselected_card' ">
            <ion-card-title style="font-size: medium;text-align: center;"
              [ngClass]="mode.isSelected?'txt_selected':'txt_unselected' ">{{mode.value}}</ion-card-title>
            <ion-card-title style="text-align: center;"
              [ngClass]="mode.isSelected?'txt_selected':'txt_unselected' "><ion-icon
                name={{mode.icon}}></ion-icon></ion-card-title>
          
          </ion-card>
        </div>
      </ion-col>
    </ion-row> -->


    <!-- <ion-row>
      <ion-col size="4">
        <div style="height: 100%; align-items: center; justify-content: center;" (click)="cashChange()">
          <ion-card class="card_value" [ngClass]="isCash?'selected_card':'unselected_card' ">
            <ion-card-title style="font-size: medium;text-align: center;"
              [ngClass]="isCash?'txt_selected':'txt_unselected' ">cash</ion-card-title>
            <ion-card-title style="text-align: center;" [ngClass]="isCash?'txt_selected':'txt_unselected' "><ion-icon
                name="cash-outline"></ion-icon></ion-card-title>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="height: 100%; align-items: center; justify-content: center;" (click)="cardChange()">
          <ion-card class="card_value" [ngClass]="isCard?'selected_card':'unselected_card' ">
            <ion-card-title style="font-size: medium;text-align: center;"
              [ngClass]="isCard?'txt_selected':'txt_unselected' ">card</ion-card-title>
            <ion-card-title style="text-align: center;" [ngClass]="isCard?'txt_selected':'txt_unselected' "><ion-icon
                name="cash-outline"></ion-icon></ion-card-title>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="height: 100%; align-items: center; justify-content: center;" (click)="upiChange()">
          <ion-card class="card_value" [ngClass]="isUPI?'selected_card':'unselected_card' ">
            <ion-card-title style="font-size: medium;text-align: center;"
              [ngClass]="isUPI?'txt_selected':'txt_unselected' ">UPI</ion-card-title>
            <ion-card-title style="text-align: center;" [ngClass]="isUPI?'txt_selected':'txt_unselected' "><ion-icon
                name="cash-outline"></ion-icon></ion-card-title>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    {{cash_paid_amount}}-{{card_paid_amount}}-{{upi_paid_amount}} -->
    <!-- *ngIf="isCash" -->
    <ion-row>
      <ion-col>
        <ion-label>Cash Amount</ion-label>
        <ion-input type="number" [(ngModel)]="cash_paid_amount" (keyup)="cashAmountChange($event)"></ion-input>
      </ion-col>
    </ion-row>
    <!-- *ngIf="isCard" -->
    <ion-row>
      <ion-col>
        <ion-label>Card Amount</ion-label>
        <ion-input type="number" [(ngModel)]="card_paid_amount" (keyup)="cardAmountChange($event)"></ion-input>
      </ion-col>
    </ion-row>
    <!-- *ngIf="isUPI" -->
    <ion-row>
      <ion-col>
        <ion-label>UPI Amount</ion-label>
        <ion-input type="number" [(ngModel)]="upi_paid_amount" (keyup)="UPIAmountChange($event)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <!-- <ion-col size="12" class="col_lbl_left">
        <ion-label>Customer Email For Reciept<span style="color: red;">*</span></ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-col> -->
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">SUB TOTAL</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">Rs. {{subTotal}}</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-button (click)="addTipChange()">Add Tip</ion-button>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-input type="number" [(ngModel)]="addTip" (keyup)="addTipChange()"></ion-input>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">CGST</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">Rs. {{CGSTAmount}}</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">SGST</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">Rs. {{SGSTAmount}}</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="discount" class="col_lbl_left">
        <ion-label class="bold_lbl">DISCOUNT</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="discount" class="col_lbl_left">
        <ion-label style="color: green;" class="bold_lbl">Rs.{{discount}}</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="addTip>0" class="col_lbl_left">
        <ion-label class="bold_lbl">Tip</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="addTip>0" class="col_lbl_left">
        <ion-label style="color: #222469;" class="bold_lbl"> Rs.{{addTip}}</ion-label>
      </ion-col>
      <!-- <ion-col size="6" *ngIf="redeemVoucher" class="col_lbl_left">
        <ion-label class="bold_lbl">REDEEM VOUCHER</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="redeemVoucher" class="col_lbl_left">
        <ion-label style="color: green;" class="bold_lbl">Rs.{{100}}</ion-label>
      </ion-col> -->
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">GRAND TOTAL</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">Rs.
          {{grandTotal}}</ion-label>
        <!-- -(redeemVoucher?redeemVoucher:0) -->
      </ion-col>

      <ion-col size="6" *ngIf="isCash" class="col_lbl_left">
        <ion-label class="bold_lbl">CHANGE</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="isCash" class="col_lbl_left">
        <!-- -(redeemVoucher?redeemVoucher:0) -->
        <!-- <ion-label class="bold_lbl">
          Rs.{{payableAmount>(subTotal+(subTotal*CGST)+(subTotal*SGST)+(addTip?addTip:0)-(discount?discount:0))?
          (subTotal+(subTotal*CGST)+(subTotal*SGST)+(addTip?addTip:0)-(discount?discount:0))-payableAmount:0}}
          </ion-label> -->
        <ion-label class="bold_lbl">
          Rs.{{payableAmount>grandTotal?
          grandTotal-payableAmount:0}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <!-- <ion-button (click)="placeOrder()">Conform Order</ion-button> -->
        <ion-button (click)="saveBilling()">Save Billing</ion-button>
      </ion-col>
    </ion-row>
    <!-- </form> -->

  </div>
</ion-content>