<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>billing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <!-- <ion-card class="card1" hidden>
      <ion-card-content>
        <div class="service-card">
          <ion-row>
            <ion-col size="7">
              <ion-label>Service</ion-label>
              <h3 class="bold secondary-text">Manicure - Luxury Manicure</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Price</ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>5500
              </h3>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label>Stylist</ion-label>
              <h3 class="bold">Tom</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Duration</ion-label>
              <h3 class="bold">3h</h3>
            </ion-col>
            <div class="divider"></div>
          </ion-row>
        </div>
       
        <ion-row>
          <ion-col size="7">
            <h3 class="bold blue-text">
              Total ({{1}})
            </h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label class="bold">
              <ion-badge color="primary">
                <span>Rs.</span> {{5500}}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> -->

    <ion-card class="flat-card card1" *ngIf=" getReportData && getReportData.type != 'Products'">
      <div class="color-bg">
        <ion-row *ngIf=" appointment && appointment.billing_status=='Billed' ">
          <ion-col size="8">
            <ion-label>
              <h3>Booking ID :</h3>
              {{appointment.bookingId}}
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <h3 style="font-weight: 500 !important;font-size: 15px !important;">{{appointment.billing_status}}</h3>
          </ion-col>
        </ion-row>
        <ion-row *ngIf=" appointment && appointment.billing_status==null">
          <ion-col size="12">
            <ion-label>
              <h3>Booking ID :</h3>
              {{appointment.bookingId}}
            </ion-label>
          </ion-col>

        </ion-row>


      </div>
      <ion-card-content *ngIf="appointment">
        <ion-row>
          <ion-col size="7">
            <ion-label>Customer Name</ion-label>
            <h3 class="bold">{{appointment.customerName}}</h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label>Mobile Number</ion-label>
            <h3 class="bold">{{appointment.customerMobile}}</h3>
          </ion-col>
        </ion-row>
        <div class="divider"></div>
        <ion-row>
          <ion-col size="7">
            <ion-label>Booking Type</ion-label>
            <h3 class="bold">{{appointment.type}}</h3>
          </ion-col>
          <ion-col size="5">
            <ion-label>Created on</ion-label>
            <h3 class="bold">
              {{appointment.createdAt ? (appointment.createdAt.split(" ")[0] |
              date:'MMM d y') + " " +
              (dateService.timeConvert(appointment.createdAt.split(" ")[1])) :
              ""}}
            </h3>
          </ion-col>
        </ion-row>
        <div class="divider"></div>
        <ion-row>
          <ion-col size="7">
            <ion-label>Stylist</ion-label>
            <h3 class="bold">{{appointment.stylistName}}</h3>
          </ion-col>
          <ion-col size="5">
            <ion-label>Slot</ion-label>
            <h3 class="bold">
              {{appointment.bookingDate | date:'MMM d y'}}
              {{dateService.timeConvert(appointment.slotName)}}
            </h3>
          </ion-col>
          <div class="divider"></div>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <ion-label>Appointment Start</ion-label>
            <h3 class="bold">{{appointmentStartTime}}</h3>
          </ion-col>
          <ion-col size="5">
            <ion-label>Appointment End</ion-label>
            <h3 class="bold">{{appointmentEndTime}}</h3>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="appointment.cancelReason">
          <ion-col size="12">
            <ion-label>Cancel Reason</ion-label>
            <h3 class="bold">{{appointment.cancelReason}}</h3>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="flat-card card1" *ngIf="getReportData && getReportData.type == 'Products'">
      <div class="color-bg">
        <ion-row>
          <ion-col size="12">
            <ion-label>
              <h3>Booking ID :</h3>
              {{getReportData.bill_id}}
            </ion-label>
          </ion-col>

        </ion-row>

      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="7">
            <ion-label>Customer Name</ion-label>
            <h3 class="bold">{{getReportData.customer_name}}</h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label>Mobile Number</ion-label>
            <h3 class="bold">{{getReportData.phoneno}}</h3>
          </ion-col>
        </ion-row>
        <div class="divider"></div>
        <ion-row>
          <ion-col size="7">
            <ion-label>Booking Type</ion-label>
            <h3 class="bold">{{getReportData.type}}</h3>
          </ion-col>
          <ion-col size="5">
            <ion-label>Created on</ion-label>
            <h3 class="bold">
              {{getReportData.created_at |date}}
            </h3>

          </ion-col>
        </ion-row>
        <div class="divider"></div>

      </ion-card-content>
    </ion-card>

    <ion-card class="card1" *ngIf="bookedServices && bookedServices.length>0">
      <ion-card-content>
        <!--Service Card-->
        <div class="service-card" *ngFor="let service of bookedServices">
          <ion-row>
            <ion-col size="7">
              <ion-label>Service</ion-label>
              <h3 class="bold secondary-text">{{service.name}} - Rs.{{service.price}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Price</ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>{{service.totalprice}}
              </h3>
              <!-- <h3 class="bold secondary-text">
                <span>Rs.</span>{{service.price}}
              </h3> -->
              <!-- <h3 class="bold secondary-text"
                *ngIf="service.discount && service.discount!='' ||service.discount && service.discount>0 ">
                <span>Rs.</span>{{service.price-service.discount}}
              </h3>
              <h3 class="bold secondary-text" *ngIf="!service.discount || service.discount==null">
                <span>Rs.</span>{{service.price}}
              </h3> -->
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="7">
              <ion-label>Stylist</ion-label>
              <h3 class="bold">{{service.stylist}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Duration</ion-label>
              <h3 class="bold">{{service.totalDuration}}</h3>
            </ion-col>
            <!-- <div class="divider"></div> -->
          </ion-row>
          <!-- *ngIf="service.quantity && service.quantity>0" -->
          <ion-row>
            <ion-col size="7">
              <ion-label>Quantity</ion-label>
              <h3 class="bold">{{service.quantity}}</h3>
            </ion-col>
            <!-- *ngIf="service.discount && service.discount != null && service.discount != '' && service.discount != '0' " -->
            <ion-col size="5">
              <ion-label>Discount</ion-label>
              <h3 class="bold secondary-text">
                <span>{{service.discount}} %</span>
              </h3>
            </ion-col>
            <!-- <ion-col size="5">
              <ion-label>Total Price</ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>{{service.quantity * service.price}}
              </h3>
            </ion-col> -->
            <!-- <ion-col size="5"
              *ngIf="service.discount && service.discount != null && service.discount != '' && service.discount != '0'">
              <ion-label>Discount</ion-label>
              
              <h3 class="bold secondary-text">
                <span>{{service.discount}} %</span>
              </h3>
            </ion-col>
            <ion-col size="5"
              *ngIf="service.discount && service.discount != null && service.discount != '' && service.discount != '0'">
              <ion-label>Discount Amount</ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>{{service.discountAmount}}
              </h3>
            </ion-col> -->

            <!-- <div class="divider"></div> -->
          </ion-row>
          <div class="divider"></div>

        </div>
        <!--//Service Card-->

        <!--Total-->
        <ion-row>
          <ion-col size="7">
            <h3 class="bold blue-text">
              <!-- Total ({{bookedServices.length}}) -->
              Total ({{totalServiceQty}})


            </h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label class="bold">
              <ion-badge color="primary">
                <span>Rs.</span> {{appointment.totalPriceExpected }}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
        <!--//Total-->
      </ion-card-content>
    </ion-card>



    <!-- && type == '1' -->
    <ion-card class="card1" *ngIf="productlist && productlist.length>0 &&  !individualProductDetails && !getReportData">
      <ion-card-content>
        <!--Service Card-->
        <div class="service-card" *ngFor="let product of productlist">
          <ion-row>
            <ion-col size="7">
              <ion-label>Product</ion-label>
              <h3 class="bold secondary-text">{{product.product_name}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Price </ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>{{product.totalprice}}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-label>Quantity</ion-label>
              <h3 class="bold">{{product.quantity}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Discount</ion-label>
              <h3 class="bold">{{product.discount}} %</h3>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-label>Stylist</ion-label>
              <h3 class="bold">{{product.staff}}</h3>
            </ion-col>

            <div class="divider"></div>

          </ion-row>



        </div>
        <!--//Service Card-->

        <!--Total-->
        <ion-row>
          <ion-col size="7">
            <h3 class="bold blue-text">
              Total ({{totalProductQty}})
            </h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label class="bold">
              <ion-badge color="primary">
                <span>Rs.</span> {{totalProductAmount}}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
        <!--//Total-->
      </ion-card-content>
    </ion-card>
    <ion-card class="card1" *ngIf="productview">
      <ion-card-content>
        <div class="service-card" *ngFor="let product of productlist">
          <ion-row>
            <ion-col size="7">
              <ion-label>Product</ion-label>
              <h3 class="bold secondary-text">{{product.product_name}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Price </ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>{{product.totalprice}}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-label>Quantity</ion-label>

              <h3 class="bold">{{product.Quantity}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Discount</ion-label>
              <h3 class="bold">{{product.discount}} %</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-label>Stylist</ion-label>
              <h3 class="bold">{{product.staff}}</h3>
            </ion-col>
            <div class="divider"></div>
          </ion-row>
        </div>

        <ion-row>
          <ion-col size="7">
            <h3 class="bold blue-text">
              Total ({{totalProductQty}})
            </h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label class="bold">
              <ion-badge color="primary">
                <span>Rs.</span> {{totalProductAmount}}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="card1" *ngIf="serviceproductView">
      <ion-card-content>
        <div class="service-card" *ngFor="let product of productlist">
          <ion-row>
            <ion-col size="7">
              <ion-label>Product</ion-label>
              <h3 class="bold secondary-text">{{product.product_name}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Price </ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>{{product.totalprice}}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-label>Quantity</ion-label>

              <h3 class="bold">{{product.quantity}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Discount</ion-label>
              <h3 class="bold">{{product.discount}} %</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-label>Stylist</ion-label>
              <h3 class="bold">{{product.staff}}</h3>
            </ion-col>
            <div class="divider"></div>
          </ion-row>
        </div>

        <ion-row>
          <ion-col size="7">
            <h3 class="bold blue-text">
              Total ({{totalProductQty}})
            </h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label class="bold">
              <ion-badge color="primary">
                <span>Rs.</span> {{totalProductAmount}}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="card1" *ngIf="productlist && productlist.length>0 &&  individualProductDetails && !getReportData">
      <ion-card-content>
        <!--Service Card-->
        <div class="service-card" *ngFor="let product of productlist">
          <ion-row>
            <ion-col size="7">
              <ion-label>Product</ion-label>
              <h3 class="bold secondary-text">{{product.productName}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Price </ion-label>
              <h3 class="bold secondary-text">
                <span>Rs.</span>{{product.totalprice}}
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-label>Quantity</ion-label>
              <h3 class="bold">{{product.choosequantity}}</h3>
            </ion-col>
            <ion-col size="5">
              <ion-label>Discount</ion-label>
              <h3 class="bold">{{product.choosediscount}} %</h3>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="7">
              <ion-label>Stylist</ion-label>
              <h3 class="bold">{{individualProductDetails.staff}}</h3>
            </ion-col>

            <div class="divider"></div>

          </ion-row>



        </div>
        <!--//Service Card-->

        <!--Total-->
        <ion-row>
          <ion-col size="7">
            <h3 class="bold blue-text">
              Total ({{totalProductQty}})
            </h3>
          </ion-col>
          <ion-col size="5">
            <div class="v-divider"></div>
            <ion-label class="bold">
              <ion-badge color="primary">
                <span>Rs.</span> {{totalProductAmount}}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
        <!--//Total-->
      </ion-card-content>
    </ion-card>
  </div>
  <div style="margin: 10px 10px;">
    <!-- <form [formGroup]="billingForm"> -->

    <ion-row hidden>
      <ion-col size="12" *ngIf="!valueSelected">

        <ion-label>Select Discount</ion-label>
        {{valueSelected}}

        <ion-select ok-text="Okay" cancel-text="Cancel" (ionChange)="onSelectDiscount($event)" style="border: 1px solid #b6b4b4;
        border-radius: 5px;
        margin-top: 3px;
        --min-height: 35px;text-align: left;" interface="action-sheet" [(ngModel)]="valueSelected">
          <ion-select-option value="Disc.by value">By Value</ion-select-option>
          <ion-select-option value="Disc.by Percentage">By Percentage</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="5" *ngIf="valueSelected">
        <ion-label>Select Discount</ion-label>
        <ion-select ok-text="Okay" cancel-text="Cancel" (ionChange)="onSelectDiscount($event)" style="border: 1px solid #b6b4b4;
        border-radius: 5px;
        margin-top: 3px;
        --min-height: 35px;text-align: left;" interface="action-sheet" [(ngModel)]="valueSelected">
          <ion-select-option value="Disc.by value">By Value</ion-select-option>
          <ion-select-option value="Disc.by Percentage">By Percentage</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="7" *ngIf="valueSelected">
        <div *ngIf="isByValue"><ion-label>Disc. By Value</ion-label> </div>
        <div style="display: flex;" *ngIf="isByValue">
          <ion-button class="discount_btn" style="height: 40px;"><span>₹</span></ion-button>
          <ion-input type="number" [(ngModel)]="byValue" (keyup)="discountChange($event)"></ion-input>
        </div>
        <div *ngIf="!isByValue"> <ion-label>Disc. By Percentage</ion-label></div>
        <div style="display: flex;" *ngIf="!isByValue">
          <ion-button class="discount_btn" style="height: 40px;"><span>%</span></ion-button>
          <ion-input type="number" [(ngModel)]="byPercentage" (keyup)="discountChange($event)"></ion-input>
        </div>

      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-label>Redeem Gift Voucher</ion-label>
        <ion-select ok-text="Okay" cancel-text="Cancel" style="border: 1px solid #b6b4b4;
          border-radius: 5px;
          margin-top: 3px;
          --min-height: 35px;text-align: left;" [(ngModel)]="redeemVoucher">
          <ion-select-option value=100>Amazon Gift Card</ion-select-option>
          <ion-select-option value=200>Flipkart Gift Card</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row> -->


    <ion-row>
      <ion-col>
        <ion-label>Mode Of Payment</ion-label>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="4" *ngFor="let mode of cardValue">
        <div style="height: 100%; align-items: center; justify-content: center;" (click)="modeOfPayment(mode)">
          <ion-card class="card_value" [ngClass]="mode.isSelected?'selected_card':'unselected_card' ">
            <ion-card-title style="font-size: medium;text-align: center;"
              [ngClass]="mode.isSelected?'txt_selected':'txt_unselected' ">{{mode.value}}</ion-card-title>
            <ion-card-title style="text-align: center;"
              [ngClass]="mode.isSelected?'txt_selected':'txt_unselected' "><ion-icon
                name={{mode.icon}}></ion-icon></ion-card-title>
          
          </ion-card>
        </div>
      </ion-col>
    </ion-row> -->


    <!-- <ion-row>
      <ion-col size="4">
        <div style="height: 100%; align-items: center; justify-content: center;" (click)="cashChange()">
          <ion-card class="card_value" [ngClass]="isCash?'selected_card':'unselected_card' ">
            <ion-card-title style="font-size: medium;text-align: center;"
              [ngClass]="isCash?'txt_selected':'txt_unselected' ">cash</ion-card-title>
            <ion-card-title style="text-align: center;" [ngClass]="isCash?'txt_selected':'txt_unselected' "><ion-icon
                name="cash-outline"></ion-icon></ion-card-title>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="height: 100%; align-items: center; justify-content: center;" (click)="cardChange()">
          <ion-card class="card_value" [ngClass]="isCard?'selected_card':'unselected_card' ">
            <ion-card-title style="font-size: medium;text-align: center;"
              [ngClass]="isCard?'txt_selected':'txt_unselected' ">card</ion-card-title>
            <ion-card-title style="text-align: center;" [ngClass]="isCard?'txt_selected':'txt_unselected' "><ion-icon
                name="cash-outline"></ion-icon></ion-card-title>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="height: 100%; align-items: center; justify-content: center;" (click)="upiChange()">
          <ion-card class="card_value" [ngClass]="isUPI?'selected_card':'unselected_card' ">
            <ion-card-title style="font-size: medium;text-align: center;"
              [ngClass]="isUPI?'txt_selected':'txt_unselected' ">UPI</ion-card-title>
            <ion-card-title style="text-align: center;" [ngClass]="isUPI?'txt_selected':'txt_unselected' "><ion-icon
                name="cash-outline"></ion-icon></ion-card-title>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    {{cash_paid_amount}}-{{card_paid_amount}}-{{upi_paid_amount}} -->
    <!-- *ngIf="isCash" -->
    <ion-row>
      <ion-col>
        <ion-label>Cash Amount</ion-label>
        <ion-input type="tel" [(ngModel)]="cash_paid_amount" (keyup)="cashAmountChange($event)"
          [readonly]="getReportData"></ion-input>
      </ion-col>
    </ion-row>
    <!-- *ngIf="isCard" -->
    <ion-row>
      <ion-col>
        <ion-label>Card Amount</ion-label>
        <ion-input type="tel" [(ngModel)]="card_paid_amount" (keyup)="cardAmountChange($event)"
          [readonly]="getReportData"></ion-input>
      </ion-col>
    </ion-row>
    <!-- *ngIf="isUPI" -->
    <ion-row>
      <ion-col>
        <ion-label>UPI Amount</ion-label>
        <ion-input type="tel" [(ngModel)]="upi_paid_amount" (keyup)="UPIAmountChange($event)" [readonly]="getReportData"
          appDisableNumberScroll></ion-input>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <!-- <ion-col size="12" class="col_lbl_left">
        <ion-label>Customer Email For Reciept<span style="color: red;">*</span></ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-col> -->
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">SUB TOTAL</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">Rs. {{subTotal}}</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-button (click)="addTipChange()">Add Tip</ion-button>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-input type="number" [(ngModel)]="addTip" (keyup)="addTipChange()" [readonly]="getReportData"></ion-input>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">CGST</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">Rs. {{CGSTAmount}}</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">SGST</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">Rs. {{SGSTAmount}}</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="discount" class="col_lbl_left">
        <ion-label class="bold_lbl">DISCOUNT</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="discount" class="col_lbl_left">
        <ion-label style="color: green;" class="bold_lbl">Rs.{{discount}}</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="addTip>0" class="col_lbl_left">
        <ion-label class="bold_lbl">Tip</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="addTip>0" class="col_lbl_left">
        <ion-label style="color: #222469;" class="bold_lbl"> Rs.{{addTip}}</ion-label>
      </ion-col>
      <!-- <ion-col size="6" *ngIf="redeemVoucher" class="col_lbl_left">
        <ion-label class="bold_lbl">REDEEM VOUCHER</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="redeemVoucher" class="col_lbl_left">
        <ion-label style="color: green;" class="bold_lbl">Rs.{{100}}</ion-label>
      </ion-col> -->
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">GRAND TOTAL</ion-label>
      </ion-col>
      <ion-col size="6" class="col_lbl_left">
        <ion-label class="bold_lbl">Rs.
          {{grandTotal}}</ion-label>
        <!-- -(redeemVoucher?redeemVoucher:0) -->
      </ion-col>

      <ion-col size="6" *ngIf="isCash" class="col_lbl_left">
        <ion-label class="bold_lbl">CHANGE</ion-label>
      </ion-col>
      <ion-col size="6" *ngIf="isCash" class="col_lbl_left">
        <!-- -(redeemVoucher?redeemVoucher:0) -->
        <!-- <ion-label class="bold_lbl">
          Rs.{{payableAmount>(subTotal+(subTotal*CGST)+(subTotal*SGST)+(addTip?addTip:0)-(discount?discount:0))?
          (subTotal+(subTotal*CGST)+(subTotal*SGST)+(addTip?addTip:0)-(discount?discount:0))-payableAmount:0}}
          </ion-label> -->
        <ion-label class="bold_lbl">
          Rs.{{payableAmount>grandTotal?
          grandTotal-payableAmount:0}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="getReportData">
      <ion-col style="text-align: center;">
        <!-- <ion-button (click)="placeOrder()">Conform Order</ion-button> -->
        <ion-button (click)="saveBilling()">Save Billing</ion-button>
      </ion-col>
    </ion-row>
    <!-- </form> -->

  </div>
</ion-content>