<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div style="display: flex;">
      <ion-title *ngIf="!checked">Walkins</ion-title>
      <ion-title *ngIf="checked">Products</ion-title>
      <span class="blink_me" *ngIf="!checked">Products<ion-icon name="chevron-forward-outline" style="vertical-align: middle;
        "></ion-icon></span>
      <span class="blink_me" *ngIf="checked">Service<ion-icon name="chevron-forward-outline" style="vertical-align: middle;
          "></ion-icon></span>
      <ion-toggle color="danger" [checked]="checked" (ionChange)="toggleChange()">Checked
        Toggle</ion-toggle>
      <!-- color="danger" -->
    </div>

    <ion-buttons slot="end" *ngIf="!checked">
      <ion-button class="spl-book-btn" size="small" fill="clear" color="secondary" routerLink="/specialbooking">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <div class="heading" *ngIf="!checked">Customer Details</div>
  <div class="" *ngIf="!checked">
    <div class="validation-error">
      <ion-label color="danger" *ngIf="formSubmitted && !appointmentForm.get('userName').value">
        Please Enter Full Name
      </ion-label>
      <ion-label color="danger"
        *ngIf="(formSubmitted) && appointmentForm.get('userName').value && !appointmentForm.get('contactNumber').value">
        Please Enter Contact Number
      </ion-label>
      <ion-label color="danger"
        *ngIf="formSubmitted && appointmentForm.get('userName').value && (appointmentForm.get('contactNumber').touched || appointmentForm.get('contactNumber').dirty) && appointmentForm.get('contactNumber').value && appointmentForm.get('contactNumber').hasError('invalid_cell_phone')">
        Please Enter Valid Contact Number
      </ion-label>
      <ion-label color="danger"
        *ngIf="formSubmitted && appointmentForm.get('userName').value && appointmentForm.get('contactNumber').value && !appointmentForm.get('contactNumber').hasError('invalid_cell_phone') && !appointmentForm.get('service').value">
        Please Select Service
      </ion-label>
      <ion-label color="danger"
        *ngIf="formSubmitted && appointmentForm.get('userName').value && appointmentForm.get('contactNumber').value && appointmentForm.get('service').value && isPickDateError">
        Please Select Date
      </ion-label>
      <ion-label color="danger"
        *ngIf="formSubmitted && appointmentForm.get('userName').value && appointmentForm.get('contactNumber').value && appointmentForm.get('service').value && !isPickDateError && isStylistError">
        Please Select Stylist
      </ion-label>
      <ion-label color="danger"
        *ngIf="formSubmitted && appointmentForm.get('userName').value && appointmentForm.get('contactNumber').value && appointmentForm.get('service').value && !isPickDateError && !isStylistError && isSlotSelectionError">
        Please Select Time Slot
      </ion-label>
    </div>
    <form [formGroup]="appointmentForm" (keyup.enter)="showBookingConfirmation()" (submit)="showBookingConfirmation()"
      *ngIf="!checked">
      <div class="form">
        <div class="input-block sign-input">
          <ion-label>Contact number</ion-label>
          <input appBlockCopyPaste class="ng2-tel-input" type="tel" ng2TelInput [ng2TelInputOptions]="telInputOptions"
            (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
            (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)"
            formControlName="contactNumber" name="contactNumber" (input)="changePhone()"
            (keypress)="numberValidate($event)" #ngTelInput maxlength="10" (keyup)="filterCustomerService($event)" />
          <ion-card style="position: absolute;" *ngIf="allVisitedService.length>0 ">

            <ion-list *ngFor="let list of allVisitedService" style="margin-left: 10px;margin-right: 10px;">
              <ion-label style="cursor: pointer;" (click)="updateCustomerDetailsService(list)"><span
                  style="color: black;font-weight: bold;">{{list.firstName}}</span>
                <span *ngIf="list.mobileNo" style="color: black;font-weight: bold;"> - </span><span
                  style="color: blue;">{{list.mobileNo}}</span></ion-label>
            </ion-list>
          </ion-card>
        </div>
        <div class="input-block sign-input">
          <ion-label>Full name</ion-label>
          <input class="custom-input" formControlName="userName" name="userName" placeholder="Full Name" mode="ios"
            type="text" maxlength="50" (keypress)="userNameValidate($event)" />
        </div>

        <div class="input-block sign-input">
          <ion-label>Services</ion-label>
          <!-- <ion-input class="custom-input" placeholder="Select Service" (click)="showMerchantServiceModal()"
            *ngIf="!appointmentForm.get('service').value"></ion-input> -->
          <!-- <ion-input class="custom-input" type="text" mode="ios" placeholder="Select Service" formControlName="service"
            name="service" *ngIf="appointmentForm.get('service').value"
            (ionInput)="showMerchantServiceModal()"></ion-input> -->
          <ion-input class="custom-input" type="text" mode="ios" placeholder="Select Service" formControlName="service"
            name="service" (click)="showMerchantServiceModal()"></ion-input>



          <!-- <input
            class="custom-input"
            type="text"
            mode="ios"
            placeholder="Select Service"
            formControlName="service"
            name="service"
            (keyup)
          /> -->
        </div>
      </div>

      <div class="sub-heading">Pick Date</div>
      <div class="select-service-msg" *ngIf="!appointmentForm.get('service').value">
        <ion-label> Please select a service </ion-label>
      </div>
      <div class="scrolling-wrapper" *ngIf="appointmentForm.get('service').value">
        <div class="card">
          <div class="date-item" lines="none">
            <ion-button *ngFor="let date of datebuttons; let i = index" (click)="OnDateSelect(date.date,i)"
              [ngClass]="selectedIndex === i  ? 'selected-btn' : ''" size="small" expand="full"
              class="date-button">{{date.name}}</ion-button>
          </div>
        </div>
      </div>

      <div class="sub-heading">Stylists</div>

      <div class="scrolling-wrapper">
        <div class="select-service-msg" *ngIf="selectedIndex === null">
          <ion-label> Please select a date </ion-label>
        </div>
        <div class="select-service-msg" *ngIf="selectedIndex !== null && emptyStylist">
          <ion-label> No Stylist assigned for this service or date </ion-label>
        </div>

        <div class="card" *ngIf="selectedIndex !== null">
          <div class="stylist-item">
            <!-- [disabled]="!this.appointmentBooking.bookingDate" -->
            <ion-button *ngFor="let stylist of stylists; let i = index"
              (click)="OnStylistSelect(stylist.professionistAccountId,i)"
              [ngClass]="selectedStylistIndex === i  ? 'selected-stylist' : ''" [color]="stylistButtonColor"
              size="small" expand="full" [disabled]="!appointmentBooking.bookingDate"><ion-icon
                name="checkmark-circle-outline"></ion-icon>
              {{stylist.firstName}}</ion-button>
          </div>
        </div>
      </div>

      <div class="sub-heading" *ngIf="appointmentBooking.bookingDate && timeslots || emptySlotDuration">
        <!-- <ion-icon
          name="time-outline"
          class="icon-space"
          color="secondary"
        ></ion-icon> -->
        Timing
      </div>
      <div class="time-item ion-no-padding">
        <div class="select-service-msg" *ngIf="emptySlotDuration">
          <ion-label> Service duration is empty </ion-label>
        </div>
        <ion-grid *ngIf="appointmentBooking.bookingDate && timeslots">
          <ion-row class="ion-text-center ion-margin-bottom ion-padding-bottom">
            <ion-col size="2" *ngFor="let time of timeslots; let i = index">
              <ion-button size="small" expand="full" (click)="OnTimeSlotSelect(time.slotName,i)"
                [disabled]="time.isDisabled == null || time.isDisabled"
                [ngClass]="selectedTimeIndex === i  ? 'selected-timeslot' : ''">{{time.slotName}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-footer class="ion-no-border">
        <ion-row class="ion-text-center button-row ion-margin-bottom">
          <ion-col size="6">
            <ion-button expand="block" shape="round" type="submit" color="light"
              (click)="previous()">Cancel</ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button expand="block" shape="round" color="primary" [disabled]="disableBookingBtn"
              type="submit">Book</ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </form>
  </div>
  <div class="heading" *ngIf="checked">Add Products</div>
  <form [formGroup]="productForm" (keyup.enter)="productSave()" *ngIf="checked">
    <div class="form">


      <div class="input-block sign-input">
        <ion-label>Contact number <span style="color: red;">*</span></ion-label>
        <input appBlockCopyPaste class="ng2-tel-input" type="tel" ng2TelInput [ng2TelInputOptions]="telInputOptions"
          (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)" (intlTelInputObject)="telInputObject($event)"
          (countryChange)="onCountryChange($event)" formControlName="mobilenumber" name="mobilenumber"
          (input)="changePhone()" (keypress)="numberValidate($event)" maxlength="10" (keyup)="filterCustomer($event)"
          #ngTelInput />
        <span style="color: red;
          font-size: small;"
          *ngIf="productForm.controls['mobilenumber'].touched && !productForm.controls['mobilenumber'].value">customer
          mobile number is
          required</span>
        <ion-card style="position: absolute;" *ngIf="allVisited.length>0 ">

          <ion-list *ngFor="let list of allVisited" style="margin-left: 10px;margin-right: 10px;">
            <ion-label style="cursor: pointer;" (click)="updateCustomerDetails(list)"><span
                style="color: black;font-weight: bold;">{{list.firstName}}</span>
              <span *ngIf="list.mobileNo" style="color: black;font-weight: bold;"> - </span><span
                style="color: blue;">{{list.mobileNo}}</span></ion-label>
          </ion-list>
        </ion-card>
      </div>

      <div class="input-block sign-input">
        <ion-label>Full name <span style="color: red;">*</span></ion-label>
        <input class="custom-input" formControlName="userName" name="userName" placeholder="Full Name" mode="ios"
          type="text" maxlength="50" (keypress)="userNameValidate($event)" />
        <span style="color: red;
      font-size: small;"
          *ngIf="productForm.controls['userName'].touched && !productForm.controls['userName'].value">name is
          required</span>
        <div style="position: absolute;
          width: -webkit-fill-available;">

        </div>
      </div>

      <div class="input-block  sign-input">
        <ion-label>Staff <span style="color: red;">*</span></ion-label>
        <!-- border: 1px solid #b6b4b4; -->
        <ion-select ok-text="Okay" cancel-text="Cancel" style="
        border-radius: 5px;
        margin-top: 3px;
        --min-height: 35px;text-align: left;" formControlName="staff" placeholder="Select Staff"
          (ionChange)="onChangeStaff($event)">
          <ion-select-option [value]="staff" *ngFor="let staff of staffList">{{staff.firstName}}</ion-select-option>
        </ion-select>
        <span style="color: red;
        font-size: small;" *ngIf="productForm.controls['staff'].touched && !productForm.controls['staff'].value">staff
          is
          required</span>
      </div>

      <div class="input-block sign-input" (click)="showMerchantProductModal()">
        <ion-label>Choose Product <span style="color: red;">*</span></ion-label>
        <input class="custom-input" type="text" mode="ios" placeholder="Select Product" style="margin-top: 3px;" />
        <!-- formControlName="product"
          name="product" -->
        <!-- <span style="color: red;
          font-size: small;"
              *ngIf="productForm.controls['product'].touched && !productForm.controls['product'].value">name is
              required</span> -->
      </div>

      <div class="input-block" *ngIf="merchantStoreId!='61'">
        <ion-label>Gender <span style="color: red;">*</span></ion-label>
        <!-- border: 1px solid #b6b4b4; -->
        <ion-select ok-text="Okay" cancel-text="Cancel" style="
        border-radius: 5px;
        margin-top: 3px;
        --min-height: 35px;text-align: left;" formControlName="gender" placeholder="Select Gender"
          (ionChange)="onChangeGender($event)">
          <ion-select-option [value]="gender.name"
            *ngFor="let gender of genterTypeList">{{gender.name}}</ion-select-option>
        </ion-select>
        <span style="color: red;
        font-size: small;"
          *ngIf="productForm.controls['gender'].touched && !productForm.controls['gender'].value">gender is
          required</span>
      </div>

      <ion-card class="card1" *ngIf="productlist && productlist.length>0">
        <ion-card-content>
          <!--Service Card-->
          <div class="service-card" *ngFor="let product of productlist">
            <ion-row>
              <ion-col size="7">
                <ion-label>Product</ion-label>
                <h3 class="bold secondary-text">{{product.productName}}</h3>
              </ion-col>
              <ion-col size="5">
                <ion-label>Price <ion-icon name="close-circle-outline" style="float: right;
                  font-size: large;
                  color: red;" (click)="presentAcceptAlertConfirm(product,2)"></ion-icon></ion-label>
                <!-- <ion-icon name="close-circle-outline" style="float: right;
                  font-size: large;
                  color: red;" (click)="presentAcceptAlertConfirm(product,2)"></ion-icon> -->
                <h3 class="bold secondary-text">
                  <span>Rs.</span>{{product.totalprice}}
                </h3>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="7">
                <ion-label>Quantity</ion-label>
                <h3 class="bold">{{product.choosequantity}}</h3>
              </ion-col>
              <!-- *ngIf="product.choosediscount" -->
              <ion-col size="5">
                <ion-label>Discount</ion-label>
                <h3 class="bold">{{product.choosediscount}}</h3>
              </ion-col>
              <div class="divider"></div>
            </ion-row>
          </div>
          <!--//Service Card-->

          <!--Total-->
          <ion-row>
            <ion-col size="7">
              <h3 class="bold blue-text">
                Total ({{productlist.length}})
              </h3>
            </ion-col>
            <ion-col size="5">
              <div class="v-divider"></div>
              <ion-label class="bold">
                <ion-badge color="primary">
                  <span>Rs.</span> {{totalProductAmount}}</ion-badge>
              </ion-label>
            </ion-col>
          </ion-row>
          <!--//Total-->
        </ion-card-content>
      </ion-card>
      <!-- <ion-row>
        <ion-col size="7">
          <ion-label style="font-size: 12px;">Quantity</ion-label>
          <div style="display: flex;margin-top: 3px">
            <ion-button clear outline (click)="decrementQty()" class="btn-decr"><ion-icon
                name="remove-circle"></ion-icon></ion-button>
            <ion-input [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}" style="max-width: 30%;margin-bottom: 0px;
            margin-top: 0px;height: auto !important;"></ion-input>
            <ion-button clear outline (click)="incrementQty()" class="btn-incr"> <ion-icon
                name="add-circle"></ion-icon></ion-button>

          </div>
        </ion-col>
        <ion-col size="5">
          <ion-label style="font-size: 12px;">Price {{price}}</ion-label>
          <ion-item style="border: 1px solid #b6b4b4;border-radius: 5px;margin-top: 3px;--min-height: 35px;"><span
              style="color: green;">Rs.{{price+.00}}</span></ion-item>
          <div>
          </div>
        </ion-col>
      </ion-row> -->
    </div>

    <ion-footer class="ion-no-border">
      <ion-row class="ion-text-center button-row ion-margin-bottom">
        <ion-col size="6">
          <ion-button expand="block" shape="round" type="submit" color="light" (click)="previous()">Cancel</ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button expand="block" shape="round" color="primary" (click)="productSave()"
            type="submit">Buy</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </form>

  <div>

  </div>
</ion-content>