<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Announcement Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Thursday jan 14, 2021</ion-card-subtitle>
      <ion-card-title>Pongal Wishes!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Wishing that this festival brings good luck and prosperity and hoping that
      it is joyous, and fills your days ahead with happiness. Happy Pongal!
    </ion-card-content>
  </ion-card>
</ion-content>
