<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
<ion-app class="TamilLang">
  <div *ngIf="showSplash" class="splash">
    <div class="animate__animated animate__backInDown">
      <div class="spinner"></div>
    </div>
    <div class="splash-caption animate__animated animate__lightSpeedInRight">
      <h4>Partner's App</h4>
    </div>
  </div>

  <ion-split-pane
    contentId="menu-content"
    when="xs"
    [disabled]="true"
    (ionSplitPaneVisible)="onSplitPaneVisible($event)"
  >
    <ion-menu
      contentId="menu-content"
      menuId="menu-content"
      side="start"
      type="overlay"
      auto-hide="true"
    >
      <ion-header class="ion-no-border" routerLink="/myaccount">
        <ion-menu-toggle>
          <ion-toolbar>
            <ion-avatar
              slot="start"
              *ngIf="userData && userData.pictureType == 'AVATAR'"
            >
              <!-- <img src="./assets/icon/male_icon.svg" /> -->
              <img [src]="selectedIcon" />
            </ion-avatar>
            <ion-avatar
              slot="start"
              *ngIf="userData && userData.pictureType == null"
            >
              <!-- <img src="./assets/icon/male_icon.svg" /> -->
              <img [src]="selectedIcon" />
            </ion-avatar>

            <div class="user-profile-header">
              <div class="title">
                <h4>{{ userData?.firstName }}</h4>
              </div>
              <ion-text class="mob-num">
                {{ userData?.mobileNoDialCode }}&nbsp;{{ userData?.mobileNo }}
              </ion-text>
            </div>
          </ion-toolbar>
        </ion-menu-toggle>
      </ion-header>
      <ion-content>
        <ion-list class="menu-list">
          <div *ngFor="let page of pages; let i = index">
            <ion-menu-toggle autoHide="false" *ngIf="page.url">
              <div *ngIf="page.url !== '/login'">
                <ion-item
                  [routerLink]="
                    roleCode && roleCode.includes('MR')
                      ? page.url
                      : page.disable
                      ? '/home'
                      : page.url
                  "
                  detail="true"
                  lines="none"
                  (click)="openPage(page)"
                  [ngClass]="{ selectedMenu: page.title == selectedmenu }"
                  [disabled]="page.disable"
                >
                  <span
                    [ngClass]="page.class"
                    class="store-icon"
                    slot="start"
                    *ngIf="page.class"
                  ></span>
                  <ion-icon
                    slot="start"
                    name="{{ page.icon }}"
                    *ngIf="!page.class"
                  ></ion-icon>
                  <ion-label
                    [ngClass]="
                      translate.currentLang
                        ? 'font-' + translate.currentLang
                        : ''
                    "
                  >
                    {{ page.title | translate }}
                  </ion-label>
                </ion-item>
              </div>
              <div *ngIf="page.url === '/login'">
                <ion-item (click)="logout()" detail="true" lines="none">
                  <ion-icon slot="start" name="{{ page.icon }}"></ion-icon>
                  <ion-label
                    [ngClass]="
                      translate.currentLang
                        ? 'font-' + translate.currentLang
                        : ''
                    "
                  >
                    {{ page.title | translate }}
                  </ion-label>
                </ion-item>
              </div>
            </ion-menu-toggle>
            <ion-item
              button
              *ngIf="page.children?.length > 0"
              (click)="page.open = !page.open"
              [class.active-parent]="page.open"
              detail="false"
              class="lang-bg"
              lines="none"
            >
              <ion-icon
                slot="end"
                class="lang-toggle-icon"
                name="chevron-forward"
                *ngIf="!page.open"
              ></ion-icon>
              <ion-icon
                slot="end"
                class="lang-toggle-icon"
                name="chevron-down-outline"
                *ngIf="page.open"
              ></ion-icon>
              <ion-icon slot="start" name="{{ page.icon }}"></ion-icon>
              <ion-label
                [ngClass]="
                  translate.currentLang ? 'font-' + translate.currentLang : ''
                "
              >
                {{ page.title | translate }}</ion-label
              >
            </ion-item>

            <ion-list *ngIf="page.open">
              <ion-radio-group
                value="en"
                [(ngModel)]="lang"
                (ionChange)="switchLanguage()"
              >
                <ion-item lines="none" *ngFor="let sub of page.children">
                  <ion-label>{{ sub.title }}</ion-label>
                  <ion-radio
                    color="secondary"
                    slot="start"
                    [value]="sub.value"
                  ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
