.circle1 {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 10s linear infinite;
    /* Safari */
    animation: spin 10s linear infinite;
    // animation: rotation 1s linear infinite;
    // animation: circle 6s linear infinite;


}

.circle2 {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid black;
    border-right: 10px solid black;

    width: 50px;
    height: 50px;
    -webkit-animation: spin 10s linear infinite;
    /* Safari */
    animation: spin 10s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

table {
    width: 100%;
    // border: 1px black solid;
    // margin: 10px;

}

ion-label {
    white-space: nowrap;
}

.lbl_center {
    // text-align: center;
}

.title {
    font-weight: bold;
    color: white;
}


.styled-table {
    width: 100%;
    border-collapse: collapse;
    // margin: 25px 0;
    font-size: 16px;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.styled-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

.styled-table tbody tr:hover {
    background-color: #f5f5f5;
}

ion-progress-bar {
    // --background: green;
    // --buffer-background: red;
    --progress-background: yellow;
}