<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack('/myaccount')">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Account Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="account-banner">
    <ion-button
      fill="clear"
      size="small"
      class="edit-btn"
      (click)="editGenderIcon()"
      *ngIf="!changeGender"
    >
      <ion-icon name="pencil" color="light"></ion-icon>
    </ion-button>
    <ion-item lines="none" class="bg-trans" *ngIf="changeGender">
      <div class="switch-avatar">
        <ion-avatar
          class="animate__animated animate__fadeIn"
          *ngFor="let icon of genderIcons"
          (click)="getGender(icon)"
        >
          <img [src]="icon.name" />
          <ion-text>{{icon.title}}</ion-text>
        </ion-avatar>
        <br />
      </div>
    </ion-item>
    <div class="switch-avatar">
      <ion-avatar
        (click)="editGenderIcon()"
        class="account-avatar animate__animated animate__fadeIn"
        *ngIf="!changeGender"
      >
        <img *ngIf="selectedIcon" [src]="selectedIcon" />
      </ion-avatar>
    </div>
  </div>

  <div id="container" class="">
    <!-- <h4 class="ion-text-center">Register</h4> -->
    <div class="form-card">
      <ion-card class="ac-setting-card">
        <form *ngIf="profileForm" [formGroup]="profileForm">
          <div class="form">
            <div class="input-block">
              <ion-label>First Name</ion-label>
              <ion-input
                placeholder="Rakesh"
                formControlName="firstName"
              ></ion-input>
              <!--[(ngModel)]="accountSettingObject.firstName"-->
              <p
                ion-text
                class="field-err"
                *ngIf="(formSubmitted || profileForm.get('firstName').touched) &&  profileForm.get('firstName').hasError('required')"
              >
                *Name is required
              </p>
              <p
                ion-text
                class="field-err"
                *ngIf="(formSubmitted || profileForm.get('firstName').touched) &&  profileForm.get('firstName').hasError('pattern')"
              >
                *Please enter valid name
              </p>
            </div>
            <div class="input-block">
              <ion-label>Last Name</ion-label>
              <ion-input placeholder="M" formControlName="lastName"></ion-input>
              <!--[(ngModel)]="accountSettingObject.lastName"-->
              <p
                ion-text
                class="field-err"
                *ngIf="(formSubmitted || profileForm.get('lastName').touched) &&  profileForm.get('lastName').hasError('required')"
              >
                *Name is required
              </p>
              <p
                ion-text
                class="field-err"
                *ngIf="(formSubmitted || profileForm.get('lastName').touched) &&  profileForm.get('lastName').hasError('pattern')"
              >
                *Please enter valid name
              </p>
            </div>
            <div
              class="input-block"
              *ngIf="userData && userData.roleCodes.includes('MR')"
            >
              <ion-label>Salon / SPA Name</ion-label
              ><sup style="color: red">*</sup>
              <ion-input formControlName="storeName"></ion-input>
              <p
                ion-text
                class="field-err"
                *ngIf="(formSubmitted || profileForm.get('storeName').touched) &&  profileForm.get('storeName').hasError('required')"
              >
                *StoreName is required
              </p>
            </div>
            <div
              class="input-block"
              *ngIf="userData && userData.roleCodes.includes('MR')"
            >
              <ion-label>Store Type</ion-label>
              <sup style="color: red">*</sup>
              <ion-input
                formControlName="storeType"
                [disabled]="true"
              ></ion-input>
            </div>
            <div
              class="input-block sign-input"
              *ngIf="userData && userData.roleCodes.includes('MR')"
            >
              <ion-label>Alternate Mobile number</ion-label>
              <!-- <ion-input placeholder="9986587456"></ion-input> -->
              <!--[(ngModel)]="accountSettingObject.mobileNo"-->
              <input
                appBlockCopyPaste
                class="ng2-tel-input"
                type="tel"
                ng2TelInput
                [ng2TelInputOptions]="telInputOptions"
                (hasError)="hasError($event)"
                (ng2TelOutput)="getNumber($event)"
                (intlTelInputObject)="telInputObject($event)"
                (countryChange)="onCountryChange($event)"
                formControlName="mobileNo"
                name="mobileNo"
                (input)="changePhone()"
                (keypress)="numberValidate($event)"
                #ngTelInput
              />
              <p
                ion-text
                class="field-err error-fix"
                *ngIf="(formSubmitted || profileForm.get('mobileNo').touched) && profileForm.get('mobileNo').hasError('invalid_cell_phone')"
              >
                Please enter valid mobile number
              </p>
            </div>
            <div class="input-block">
              <ion-label>Email</ion-label>
              <ion-input
                placeholder="rakesh12@gmail.com"
                formControlName="email"
              ></ion-input>
              <!--[(ngModel)]="accountSettingObject.email"-->
              <p
                ion-text
                class="field-err"
                *ngIf="(formSubmitted || profileForm.get('email').touched) &&  profileForm.get('email').hasError('email')"
              >
                *Please enter valid email
              </p>
            </div>
            <div class="input-block" (click)="openModal()">
              <ion-button color="success" expand="block">
                <ion-icon name="location" class="font-m"></ion-icon> Pick
                address
              </ion-button>
            </div>
            <div class="input-block">
              <ion-label>Address</ion-label><sup style="color: red">*</sup
              ><!--(ionChange)="onChangeFields()"-->
              <ion-textarea
                formControlName="address"
                [(ngModel)]="dataReturned.address"
              ></ion-textarea>
              <p
                ion-text
                class="field-err"
                *ngIf="(formSubmitted || profileForm.get('address').touched) &&  profileForm.get('address').hasError('required')"
              >
                *Address is required
              </p>
              <p
                ion-text
                class="field-err"
                *ngIf="(formSubmitted || profileForm.get('address').touched) &&  profileForm.get('address').hasError('pattern')"
              >
                *Please enter valid name
              </p>
            </div>

            <div
              class="input-block ion-padding-top"
              *ngIf="userData && userData.roleCodes[0] == 'MR'"
            >
              <ion-item lines="none" color="light">
                <ion-checkbox
                  slot="start"
                  color="secondary"
                  formControlName="enableStylist"
                >
                </ion-checkbox>
                <ion-label>Enable as stylist</ion-label>
              </ion-item>
            </div>

            <ion-row>
              <ion-col>
                <ion-button
                  expand="block"
                  shape="round"
                  color="light"
                  type="submit"
                  (click)="goBack('/myaccount')"
                  class="ion-margin-top"
                  >Cancel</ion-button
                >
              </ion-col>
              <ion-col>
                <ion-button
                  expand="block"
                  color="primary"
                  shape="round"
                  type="submit"
                  class="ion-margin-top"
                  (click)="updateProfile()"
                  >Save</ion-button
                ></ion-col
              >
            </ion-row>
          </div>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
