<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="isService">Add Service</ion-title>
    <ion-title *ngIf="!isService">Add Products</ion-title>


  </ion-toolbar>
  <ion-toolbar color="light" class="brand-search" *ngIf="isService">
    <ion-searchbar placeholder="Filter Service" (ionInput)="filterservice($event)"></ion-searchbar>
  </ion-toolbar>

  <!-- <ion-toolbar color="light" class="brand-search" *ngIf="!isService">
    <ion-searchbar placeholder="Filter Service" (ionInput)="filterservice($event)"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content fullscreen>
  <div class="validation-error" *ngIf="isService">
    <!-- <ion-label color="danger" *ngIf="formSubmitted && !serviceForm.get('service').value">
      Please select a service
    </ion-label> -->
    <ion-label color="danger" *ngIf="formSubmitted && services.length==0">
      Please select a service
    </ion-label>
  </div>
  <div class="form-card">
    <ion-card class="signup-card">
      <!-- <form [formGroup]="serviceForm" (keyup.enter)="addService()" (submit)="addService()" *ngIf="isService"> -->
      <!-- <div class="form" style="height: 500px">
          <div class="input-block" (click)="showMerchantServiceModal()">
            <ion-label>Services</ion-label>
            <input class="ion-text-wrap" type="text" mode="ios" placeholder="Select Service" formControlName="service"
              name="service" style="    margin-top: 3px;" />
          </div>
          <div class="input-block">
            <ion-label>Stylist</ion-label>
            <ion-select mode="ios" placeholder="Select Stylist" interface="action-sheet" class="ion-text-wrap"
              formControlName="stylist" name="stylist">
              <ion-select-option *ngFor="let stylist of stylistList"
                [value]="stylist.accountId">{{stylist.firstName}}</ion-select-option>
            </ion-select>
          </div>
        </div> -->

      <div *ngIf="services && services.length>0">
        <ion-list>

          <div *ngIf="services && services.length>0">
            <ion-card style="    border: 1px solid #a8a6a6;margin-bottom: 5px;border-radius: 10px;"
              *ngFor="let ser of services">

              <ion-row>
                <ion-col size="12" sizeSm="5" sizeMd="5" (click)="selectService(ser)">
                  <ion-label style="font-size: 12px;padding-left: 16px;">Service</ion-label>
                  <ion-item lines="none">
                    <ion-checkbox style="margin-right: 10px;" [checked]="ser.checked"></ion-checkbox><ion-label
                      style="text-wrap: wrap;">{{ser.name}}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="6" sizeSm="3" sizeMd="4">
                  <!-- <ion-item lines="none"> -->
                  <ion-label style="font-size: 12px;">Stylist</ion-label>
                  <ion-select mode="ios" placeholder="Select Stylist" class="ion-text-wrap"
                    [(ngModel)]="ser.professionist_account_id" name="stylist" style="top: 0px;
                      width: 100% !important;
                      max-width: 100% !important;" (ionChange)="selectOption($event, mySelect,ser)">
                    <ion-select-option *ngFor="let stylist of stylistList"
                      [value]="stylist.accountId">{{stylist.firstName}}</ion-select-option>
                  </ion-select>
                  <!-- </ion-item> -->
                </ion-col>
                <!-- <ion-col size="6" sizeSm="4" sizeMd="3">

                  <ion-label style="font-size: 12px;">Quantity</ion-label>
                  <div style="display: flex;margin-top: 3px;">
                    <ion-button clear outline (click)="decrementQtyService(11)" class="btn-decr"><ion-icon
                        name="remove-circle"></ion-icon></ion-button>

                    <ion-input [(ngModel)]="ser.choosequantity" [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
                    margin-top: 0px;height: auto !important;"></ion-input>
                    <ion-button clear outline (click)="incrementQtyService(1)" class="btn-incr">
                      <ion-icon name="add-circle"></ion-icon></ion-button>

                  </div>
                 
                </ion-col>
                <ion-col size="3" sizeSm="4" sizeMd="1.5">
                  <ion-label style="font-size: 12px;">Discount</ion-label>
                  <ion-input [(ngModel)]="ser.choosediscount " type="tel" [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
                    margin-top: 0px;" (keyup)="discountChange($event,ser)" [disabled]="!ser.checked"
                    maxlength="3"></ion-input>
                </ion-col> -->
                <ion-col size="3" sizeSm="4" sizeMd="2">
                  <ion-label style="font-size: 12px;">Price</ion-label>
                  <ion-input [(ngModel)]="ser.price" [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
                margin-top: 0px;" readonly></ion-input>

                </ion-col>
              </ion-row>
            </ion-card>
          </div>



        </ion-list>
      </div>
      <!-- </form> -->
      <ion-card class="card1" *ngIf="allServicelist && allServicelist.length>0">
        <ion-card-content>
          <!--Service Card-->
          <div class="service-card" *ngFor="let service of allServicelist">
            <ion-row>
              <ion-col size="7">
                <ion-label>Service</ion-label>
                <h3 class="bold secondary-text">{{service.name}}</h3>
              </ion-col>
              <ion-col size="5">
                <ion-label>Price <ion-icon name="close-circle-outline" style="float: right;
                  font-size: large;
                  color: red;" (click)="presentAcceptAlertConfirm(service,1)"></ion-icon></ion-label>
                <!-- <ion-icon name="close-circle-outline" style="float: right;
                  font-size: large;
                  color: red;" (click)="presentAcceptAlertConfirm(product,2)"></ion-icon> -->
                <h3 class="bold secondary-text">
                  <span>Rs.</span>{{service.totalprice}}
                </h3>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="7">
                <ion-label>Quantity</ion-label>
                <h3 class="bold">{{service.choosequantity}}</h3>
              </ion-col>
              <!-- *ngIf="product.choosediscount" -->
              <ion-col size="5">
                <ion-label>Discount</ion-label>
                <h3 class="bold">{{service.choosediscount}}</h3>
              </ion-col>
              <div class="divider"></div>
            </ion-row>
          </div>
          <!--//Service Card-->

          <!--Total-->
          <ion-row>
            <ion-col size="7">
              <h3 class="bold blue-text">
                Total ({{productlist.length}})
              </h3>
            </ion-col>
            <ion-col size="5">
              <div class="v-divider"></div>
              <ion-label class="bold">
                <ion-badge color="primary">
                  <span>Rs.</span> {{totalProductAmount}}</ion-badge>
              </ion-label>
            </ion-col>
          </ion-row>
          <!--//Total-->
        </ion-card-content>
      </ion-card>



      <form [formGroup]="productForm" (keyup.enter)="previous()" *ngIf="!isService" hidden>
        <div class="form" style="height: 500px">
          <!-- <div class="input-block" (click)="showMerchantProductModal()">
            <ion-label>Products</ion-label>
            <input class="ion-text-wrap" type="text" mode="ios" placeholder="Select Product" formControlName="product"
              name="product" style="margin-top: 3px;" />
          </div> -->
          <div class="input-block">
            <ion-select ok-text="Okay" cancel-text="Cancel" style="border: 1px solid #b6b4b4;
            border-radius: 5px;
            margin-top: 3px;
            --min-height: 35px;text-align: left;" formControlName="staff" placeholder="Select Staff"
              (ionChange)="onChangeStaff($event)">
              <ion-select-option [value]="staff.firstName"
                *ngFor="let staff of staffList">{{staff.firstName}}</ion-select-option>
            </ion-select>
          </div>
          <div class="input-block" *ngIf="merchantStoreId!='61'">
            <ion-select ok-text="Okay" cancel-text="Cancel" style="border: 1px solid #b6b4b4;
            border-radius: 5px;
            margin-top: 3px;
            --min-height: 35px;text-align: left;" formControlName="gender" placeholder="Select Gender"
              (ionChange)="onChangeGender($event)">
              <ion-select-option [value]="gender.name"
                *ngFor="let gender of genterTypeList">{{gender.name}}</ion-select-option>
            </ion-select>
          </div>
          <!-- <div class="input-block">
            <ion-label>Products</ion-label>
            <ion-select placeholder="Select product" class="ion-text-wrap" formControlName="product" name="product">
              <ion-select-option *ngFor="let product of productList"
                [value]="product.value">{{product.value}}</ion-select-option>
            </ion-select>
          </div> -->
          <ion-row>
            <ion-col size="7">
              <ion-label style="font-size: 12px;">Quantity</ion-label>
              <div style="display: flex;margin-top: 3px;">
                <!-- <button clear (click)="incrementQty()"><ion-icon name="add-circle"></ion-icon></button> -->
                <ion-button clear outline (click)="decrementQty(11)" size="small" class="btn-decr"><ion-icon
                    name="remove-circle"></ion-icon></ion-button>

                <ion-input [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}" style="max-width: 30%;margin-bottom: 0px;
                margin-top: 0px;height: auto !important;"></ion-input>
                <ion-button clear outline (click)="incrementQty(1)" size="small" class="btn-incr"> <ion-icon
                    name="add-circle"></ion-icon></ion-button>
                <!-- <button clear (click)="decrementQty()"><ion-icon name="remove-circle"></ion-icon></button> -->

              </div>
            </ion-col>
            <ion-col size="5">
              <ion-label style="font-size: 12px;">Price</ion-label>
              <!-- <ion-label>{{price}}</ion-label> -->
              <!-- <div> -->
              <!-- <ion-text style="color: green;"> Rs.{{price+.00}}</ion-text>
          <ion-input style="border: 1px solid #b6b4b4;border-radius: 5px;top: 4px;padding: 10px;"></ion-input> -->
              <ion-item style="border: 1px solid #b6b4b4;border-radius: 5px;margin-top: 3px;--min-height: 35px;"><span
                  style="color: green;">Rs.{{price+.00}}</span></ion-item>
              <!-- </div> -->

            </ion-col>
          </ion-row>
        </div>
        <ion-footer class="ion-no-border">
          <ion-row class="ion-text-center button-row">
            <ion-col size="6">
              <ion-button expand="block" shape="round" color="light" (click)="previous()">Cancel</ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button expand="block" color="primary" shape="round" type="submit"
                (click)="productSave()">Save</ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </form>
    </ion-card>

    <div hidden>
      <ion-list *ngIf="products && type===2">
        <div>
          <ion-card style="    border: 1px solid #a8a6a6;margin-bottom: 5px;border-radius: 10px;"
            *ngFor="let product of products">
            <!-- (click)="productSelected(product)" -->
            <ion-item lines="none" (click)="selectProduct(product)">
              <ion-checkbox style="margin-right: 10px;" [checked]="product.checked"></ion-checkbox><ion-label
                style="text-wrap: wrap;">{{product.productName}}</ion-label>
            </ion-item>
            <ion-row>
              <ion-col>
                <ion-label style="font-size: 12px;">Quantity</ion-label>
                <div style="display: flex;margin-top: 3px;margin-bottom: 10px;">
                  <ion-button clear outline (click)="decrementQty(product)" class="btn-decr"><ion-icon
                      name="remove-circle"></ion-icon></ion-button>
                  <ion-input [(ngModel)]="product.choosequantity" [ngModelOptions]="{standalone: true}" style="max-width: 30%;margin-bottom: 0px;
              margin-top: 0px;height: auto !important;"></ion-input>
                  <ion-button clear outline (click)="incrementQty(product)" class="btn-incr"> <ion-icon
                      name="add-circle"></ion-icon></ion-button>
                </div>
                <ion-label>Rs.{{product.totalprice+.00}}</ion-label>

              </ion-col>
              <ion-col>
                <ion-label style="font-size: 12px;">Discount</ion-label>

                <ion-input [(ngModel)]="product.choosediscount" [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
                  margin-top: 0px;" (keyup)="discountChange($event,product)"></ion-input>
              </ion-col>

            </ion-row>

            <!-- <ion-row>
            <ion-col size="7">
              <ion-label style="font-size: 12px;">Quantity</ion-label>
              <div style="display: flex;margin-top: 3px;">
                <ion-button clear outline (click)="decrementQty(product)" class="btn-decr"><ion-icon
                    name="remove-circle"></ion-icon></ion-button>
                <ion-input [(ngModel)]="product.choosequantity" [ngModelOptions]="{standalone: true}" style="max-width: 30%;margin-bottom: 0px;
              margin-top: 0px;height: auto !important;"></ion-input>
                <ion-button clear outline (click)="incrementQty(product)" class="btn-incr"> <ion-icon
                    name="add-circle"></ion-icon></ion-button>
              </div>
            </ion-col>
            <ion-col size="5">
              <ion-label style="font-size: 12px;">Discount</ion-label>
             
              <ion-input [(ngModel)]="product.choosediscount" [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
                  margin-top: 0px;height: auto !important;"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-label>Rs.{{product.totalprice+.00}}</ion-label>
             
            </ion-col>
          </ion-row> -->
          </ion-card>
        </div>
      </ion-list>

    </div>

    <div *ngIf="products && products.length>0 && type===2">
      <form [formGroup]="productForm" (keyup.enter)="previous()" *ngIf="!isService">
        <div class="form">
          <!-- style="height: 500px" -->
          <div class="input-block">
            <ion-label>Staff <span style="color: red;">*</span></ion-label>

            <ion-select ok-text="Okay" cancel-text="Cancel" style="border: 1px solid #b6b4b4;
            border-radius: 5px;
            margin-top: 3px;
            --min-height: 35px;text-align: left;" formControlName="staff" placeholder="Select Staff"
              (ionChange)="onChangeStaff($event)">
              <ion-select-option [value]="staff" *ngFor="let staff of staffList">{{staff.firstName}}</ion-select-option>
            </ion-select>
            <span style="color: red;
            font-size: small;"
              *ngIf="productForm.controls['staff'].touched && !productForm.controls['staff'].value">staff
              is
              required</span>
          </div>
          <div class="input-block sign-input" (click)="showMerchantProductModal()">
            <ion-label>Choose Product <span style="color: red;">*</span></ion-label>
            <input class="custom-input" type="text" mode="ios" placeholder="Select Product" style="margin-top: 3px;" />

          </div>

          <div class="input-block" *ngIf="merchantStoreId!='61'">
            <ion-label>Gender <span style="color: red;">*</span></ion-label>

            <ion-select ok-text="Okay" cancel-text="Cancel" style="border: 1px solid #b6b4b4;
            border-radius: 5px;
            margin-top: 3px;
            --min-height: 35px;text-align: left;" formControlName="gender" placeholder="Select Gender"
              (ionChange)="onChangeGender($event)">
              <ion-select-option [value]="gender.name"
                *ngFor="let gender of genterTypeList">{{gender.name}}</ion-select-option>
            </ion-select>
          </div>
          <!-- <div class="input-block">
            <ion-label>Products</ion-label>
            <ion-select placeholder="Select product" class="ion-text-wrap" formControlName="product" name="product">
              <ion-select-option *ngFor="let product of productList"
                [value]="product.value">{{product.value}}</ion-select-option>
            </ion-select>
          </div> -->
          <ion-row hidden>
            <ion-col size="7">
              <ion-label style="font-size: 12px;">Quantity</ion-label>
              <div style="display: flex;margin-top: 3px;">
                <!-- <button clear (click)="incrementQty()"><ion-icon name="add-circle"></ion-icon></button> -->
                <ion-button clear outline (click)="decrementQty(11)" class="btn-decr"><ion-icon
                    name="remove-circle"></ion-icon></ion-button>

                <ion-input [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}" style="max-width: 30%;margin-bottom: 0px;
                margin-top: 0px;height: auto !important;"></ion-input>
                <ion-button clear outline (click)="incrementQty(1)" class="btn-incr"> <ion-icon
                    name="add-circle"></ion-icon></ion-button>
                <!-- <button clear (click)="decrementQty()"><ion-icon name="remove-circle"></ion-icon></button> -->

              </div>
            </ion-col>
            <ion-col size="5">
              <ion-label style="font-size: 12px;">Price</ion-label>
              <!-- <ion-label>{{price}}</ion-label> -->
              <!-- <div> -->
              <!-- <ion-text style="color: green;"> Rs.{{price+.00}}</ion-text>
            <ion-input style="border: 1px solid #b6b4b4;border-radius: 5px;top: 4px;padding: 10px;"></ion-input> -->
              <ion-item style="border: 1px solid #b6b4b4;border-radius: 5px;margin-top: 3px;--min-height: 35px;"><span
                  style="color: green;">Rs.{{price+.00}}</span></ion-item>
              <!-- </div> -->

            </ion-col>
          </ion-row>
        </div>

      </form>
      <ion-card class="card1" *ngIf="productlist && productlist.length>0">
        <ion-card-content>
          <!--Service Card-->
          <div class="service-card" *ngFor="let product of productlist">
            <ion-row>
              <ion-col size="7">
                <ion-label>Product</ion-label>
                <h3 class="bold secondary-text">{{product.productName}}</h3>
              </ion-col>
              <ion-col size="5">
                <ion-label>Price <ion-icon name="close-circle-outline" style="float: right;
                  font-size: large;
                  color: red;" (click)="presentAcceptAlertConfirm(product,2)"></ion-icon></ion-label>
                <!-- <ion-icon name="close-circle-outline" style="float: right;
                  font-size: large;
                  color: red;" (click)="presentAcceptAlertConfirm(product,2)"></ion-icon> -->
                <h3 class="bold secondary-text">
                  <span>Rs.</span>{{product.totalprice}}
                </h3>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="7">
                <ion-label>Quantity</ion-label>
                <h3 class="bold">{{product.choosequantity}}</h3>
              </ion-col>
              <!-- *ngIf="product.choosediscount" -->
              <ion-col size="5">
                <ion-label>Discount</ion-label>
                <h3 class="bold">{{product.choosediscount}}</h3>
              </ion-col>
              <div class="divider"></div>
            </ion-row>
          </div>
          <!--//Service Card-->

          <!--Total-->
          <ion-row>
            <ion-col size="7">
              <h3 class="bold blue-text">
                Total ({{productlist.length}})
              </h3>
            </ion-col>
            <ion-col size="5">
              <div class="v-divider"></div>
              <ion-label class="bold">
                <ion-badge color="primary">
                  <span>Rs.</span> {{totalProductAmount}}</ion-badge>
              </ion-label>
            </ion-col>
          </ion-row>
          <!--//Total-->
        </ion-card-content>
      </ion-card>
      <ion-list hidden>
        <div class="product_mobile_view" *ngIf="products && products.length>0">
          <ion-card style="    border: 1px solid #a8a6a6;margin-bottom: 5px;border-radius: 10px;"
            *ngFor="let product of products">
            <!-- (click)="productSelected(product)" -->
            <ion-item lines="none" (click)="selectProduct(product)">
              <ion-checkbox style="margin-right: 10px;" [checked]="product.checked"></ion-checkbox><ion-label
                style="text-wrap: wrap;">{{product.productName}}</ion-label>
            </ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-label style="font-size: 12px;">Quantity </ion-label>
                  <div style="display: flex;margin-top: 3px;margin-bottom: 10px;">
                    <ion-button clear outline (click)="decrementQty(product)" size="small" class="btn-decr"><ion-icon
                        name="remove-circle"></ion-icon></ion-button>
                    <ion-input [(ngModel)]="product.choosequantity" [ngModelOptions]="{standalone: true}" style="max-width: 30%;margin-bottom: 0px;
                margin-top: 0px;height: auto !important;"></ion-input>
                    <ion-button clear outline (click)="incrementQty(product)" size="small" class="btn-incr"> <ion-icon
                        name="add-circle"></ion-icon></ion-button>
                  </div>
                  <!-- <ion-label>Rs.{{product.totalprice+.00}}</ion-label> -->


                </ion-col>
                <ion-col size="3">
                  <ion-label style="font-size: 12px;">Discount</ion-label>

                  <ion-input [(ngModel)]="product.choosediscount" [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
                    margin-top: 0px;" (keyup)="discountChange($event,product)"></ion-input>
                </ion-col>
                <ion-col size="3">
                  <ion-label style="font-size: 12px;">Price </ion-label>

                  <ion-textarea
                    style="background: green;
                  height: 40px;
                  border-radius: 5px;text-align: center;margin-bottom: 0px;
                margin-top: 0px;color: white;font-weight: bold;line-height: 2.5;">Rs.{{product.totalprice+.00}}</ion-textarea></ion-col>

              </ion-row>
            </ion-grid>


            <!-- <ion-row>
            <ion-col size="7">
              <ion-label style="font-size: 12px;">Quantity</ion-label>
              <div style="display: flex;margin-top: 3px;">
                <ion-button clear outline (click)="decrementQty(product)" class="btn-decr"><ion-icon
                    name="remove-circle"></ion-icon></ion-button>
                <ion-input [(ngModel)]="product.choosequantity" [ngModelOptions]="{standalone: true}" style="max-width: 30%;margin-bottom: 0px;
              margin-top: 0px;height: auto !important;"></ion-input>
                <ion-button clear outline (click)="incrementQty(product)" class="btn-incr"> <ion-icon
                    name="add-circle"></ion-icon></ion-button>
              </div>
            </ion-col>
            <ion-col size="5">
              <ion-label style="font-size: 12px;">Discount</ion-label>
             
              <ion-input [(ngModel)]="product.choosediscount" [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
                  margin-top: 0px;height: auto !important;"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-label>Rs.{{product.totalprice+.00}}</ion-label>
             
            </ion-col>
          </ion-row> -->
          </ion-card>
        </div>
        <div class="product_web_view" *ngIf="products && products.length>0">
          <ion-card style="    border: 1px solid #a8a6a6;margin-bottom: 5px;border-radius: 10px;"
            *ngFor="let product of products">
            <!-- (click)="productSelected(product)" -->

            <ion-row>
              <ion-col sizeMd="5">
                <ion-item lines="none" (click)="selectProduct(product)">
                  <ion-checkbox style="margin-right: 10px;" [checked]="product.checked"></ion-checkbox><ion-label
                    style="text-wrap: wrap;">{{product.productName}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col sizeMd="3">
                <ion-label style="font-size: 12px;">Quantity </ion-label>
                <div style="display: flex;margin-top: 3px;margin-bottom: 10px;">
                  <ion-button clear outline (click)="decrementQty(product)" class="btn-decr"><ion-icon
                      name="remove-circle"></ion-icon></ion-button>
                  <ion-input [(ngModel)]="product.choosequantity" [ngModelOptions]="{standalone: true}" style="max-width: 30%;margin-bottom: 0px;
              margin-top: 0px;height: auto !important;"></ion-input>
                  <ion-button clear outline (click)="incrementQty(product)" class="btn-incr"> <ion-icon
                      name="add-circle"></ion-icon></ion-button>
                </div>
                <!-- <ion-label>Rs.{{product.totalprice+.00}}</ion-label> -->

              </ion-col>
              <ion-col sizeMd="2">
                <ion-label style="font-size: 12px;">Discount</ion-label>

                <ion-input [(ngModel)]="product.choosediscount" [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
                  margin-top: 0px;" (keyup)="discountChange($event,product)"></ion-input>
              </ion-col>
              <ion-col sizeMd="2">
                <ion-label style="font-size: 12px;">Price</ion-label>
                <!-- <div style="background: green;
                height: 40px;
                border-radius: 5px;text-align: center;"> -->
                <ion-textarea
                  style="background: green;
                  height: 40px;
                  border-radius: 5px;text-align: center;margin-bottom: 0px;
                margin-top: 0px;color: white;font-weight: bold;line-height: 2.5;">Rs.{{product.totalprice+.00}}</ion-textarea>
                <!-- <ion-input [(ngModel)]="product.totalPriceValue" readonly style="margin-bottom: 0px;
                margin-top: 0px;"></ion-input> -->
                <!-- <ion-label></ion-label> -->


                <!-- </div> -->

              </ion-col>

            </ion-row>


          </ion-card>
        </div>
      </ion-list>
    </div>

  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row class="ion-text-center button-row">
    <ion-col size="6">
      <ion-button expand="block" shape="round" color="light" (click)="previous()">Cancel</ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button expand="block" color="primary" shape="round" *ngIf="type==2"
        (click)="productMultiSave()">Save</ion-button>
      <ion-button expand="block" color="primary" shape="round" type="submit" (click)="addService()"
        *ngIf="type==1">Save</ion-button>
    </ion-col>


  </ion-row>
</ion-footer>