<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon class="back-btn-size" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select service</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light" class="brand-search">
    <ion-searchbar placeholder="Filter Service" (ionInput)="filterservice($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list *ngIf="services">
      <ion-item *ngFor="let ser of services" (click)="serviceSelected(ser)">
        {{ser.name}} - {{ser.price}}
      </ion-item>
    </ion-list>
  </div>

  <!-- <div *ngIf="services && services.length>0">
    <ion-list>

      <div *ngIf="services && services.length>0">
        <ion-card style="    border: 1px solid #a8a6a6;margin-bottom: 5px;border-radius: 10px;"
          *ngFor="let ser of services">

          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-checkbox style="margin-right: 10px;" [checked]="ser.checked"></ion-checkbox><ion-label
                  style="text-wrap: wrap;">{{ser.name}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-select mode="ios" placeholder="Select Stylist" interface="action-sheet" class="ion-text-wrap"
                  formControlName="stylist" name="stylist">
                  <ion-select-option *ngFor="let stylist of stylistList"
                    [value]="stylist.accountId">{{stylist.firstName}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-label style="font-size: 12px;">Discount</ion-label>

              <ion-input [(ngModel)]="ser.choosediscount " [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
                  margin-top: 0px;" (keyup)="discountChange($event,services)"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label style="font-size: 12px;">Price</ion-label>
              <ion-input [(ngModel)]="ser.choosediscount" [ngModelOptions]="{standalone: true}" style="margin-bottom: 0px;
              margin-top: 0px;" readonly></ion-input>
            </ion-col>
          </ion-row>


        </ion-card>
      </div>



    </ion-list>
  </div> -->


</ion-content>