<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon class="back-btn-size" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cancel Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-top: 20%;text-align: center;">
    <ion-label>Do You Want To Cancel The Appointment?</ion-label>
  </div>
  <div class="input-block" style="margin-top: 20px;">
    <ion-select ok-text="Okay" cancel-text="Cancel" [(ngModel)]="customreason" style="border: 1px solid #b6b4b4;
    border-radius: 5px;
    margin: 10px;
    --min-height: 35px;text-align: left;" placeholder="Select reason" (ionChange)="onChangeCancel($event)">
      <ion-select-option [value]="reason.name" *ngFor="let reason of reasonList">{{reason.name}}</ion-select-option>
    </ion-select>
  </div>
  <!-- <div class="input-block" style="margin-top: 20px;" *ngIf="otherReason">
    <ion-textarea [(ngModel)]="customreason"></ion-textarea>
  </div> -->
  <div style="text-align: center;margin-top: 20px;">
    <ion-button (click)="submitReason()">Submit</ion-button>
  </div>
</ion-content>