.btn-incr {
    --border-radius: 20% 20% 20% 20%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-decr {
    --border-radius: 20% 20% 20% 20%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sc-ion-input-md-h {
    --padding-top: 0px;
    --padding-end: 0;
    --padding-bottom: 0px;
    --padding-start: 0px;
    font-size: inherit;
}