<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon class="back-btn-size" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select products</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light" class="brand-search">
    <ion-searchbar placeholder="Filter Service" (ionInput)="filterservice($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-list *ngIf="products">
      <ion-item *ngFor="let product of products" (click)="productSelected(product)">
        {{product.name}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>