<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Store Settings</ion-title>
    <ion-buttons slot="end" id="notify-btn" class="help-btn">
      <ion-button
        size="small"
        fill="clear"
        color="primary"
        (click)="openHelpOverlay()"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list class="config-list">
    <ion-item
      detail="true"
      *ngFor="let item of storeConfigList"
      (click)="gotoUrl(item.url)"
      [disabled]="item.disabled"
    >
      <ion-avatar slot="start">
        <ion-icon
          [name]="item.icon"
          class="list-icons"
          color="secondary"
        ></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
