ion-label {
    font-size: 10px;
}


.txt_right {
    float: right;
}

.txt-padding {
    padding-left: 10px;
}

.border-table {
    border-bottom: black 1px solid;
    border-top: black 1px solid;

}

.col-right {
    border-right: black 1px solid;

}