<ion-header class="ion-no-border">
  <ion-toolbar>
    <img class="logo" src="./assets/icon/bocxy-logo.svg" />
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <h4
      class="ion-text-center"
      [ngClass]="
    translate.currentLang ? 'font-' + translate.currentLang : ''
  "
    >
      {{'LOGIN_ITEMS.SECURITY_CENTER' | translate}}
    </h4>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container" class="">
    <div class="validation-error">
      <ion-label color="danger" *ngIf="errorQueVal"
        >Please Select Security Questions</ion-label
      ><br />
      <ion-label color="danger" *ngIf="errorVal"
        >Please Enter Answers</ion-label
      >
    </div>
    <div class="form-card ion-padding-top">
      <ion-card class="signup-card">
        <form
          [formGroup]="securityForm"
          (keyup.enter)="saveSecurityQueAns()"
          (submit)="saveSecurityQueAns()"
        >
          <div class="form">
            <div class="input-block">
              <ion-label
                [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
                >{{'LOGIN_ITEMS.SELECT_QUESTION' | translate}}</ion-label
              >
              <ion-select
                interface="action-sheet"
                mode="ios"
                (ionChange)="onChangeQuestionOne($event)"
                formControlName="securityQueOne"
                placeholder="Select Question"
                class="ion-text-wrap"
              >
                <!-- <ion-select-option value="1" selected>What is your Nickname?</ion-select-option>
                                <ion-select-option value="2" selected>Which is your favorite city?</ion-select-option> -->
                <ion-select-option
                  *ngFor="let questionOne of securityQuestionOne"
                  value="{{questionOne.securityQuestionId}}"
                >
                  {{questionOne.question}}</ion-select-option
                >
              </ion-select>
            </div>
            <div class="input-block">
              <ion-label
                [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
                >{{'LOGIN_ITEMS.YOUR_ANSWER' | translate}}</ion-label
              >
              <ion-input
                (ionChange)="onChangeAnswer($event)"
                inputmode="text"
                formControlName="securityAnsOne"
              ></ion-input>
            </div>
            <div class="input-block">
              <ion-label
                [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
                >{{'LOGIN_ITEMS.SELECT_QUESTION' | translate}}</ion-label
              >
              <ion-select
                interface="action-sheet"
                mode="ios"
                (ionChange)="onChangeQuestionTwo($event)"
                [(ngModel)]="questionTwo"
                formControlName="securityQueTwo"
                placeholder="Select Question"
                class="ion-text-wrap"
              >
                <!-- <ion-select-option value="1" selected>What is your Nickname?</ion-select-option>
                                <ion-select-option value="2" selected>Which is your favorite city?</ion-select-option> -->
                <ion-select-option
                  *ngFor="let questionTwo of securityQuestionTwo"
                  value="{{questionTwo.securityQuestionId}}"
                  >{{questionTwo.question}}</ion-select-option
                >
              </ion-select>
            </div>
            <div class="input-block">
              <ion-label
                [ngClass]="
              translate.currentLang ? 'font-' + translate.currentLang : ''
            "
                >{{'LOGIN_ITEMS.YOUR_ANSWER' | translate}}</ion-label
              >
              <ion-input
                (ionChange)="onChangeAnswer($event)"
                inputmode="text"
                formControlName="securityAnsTwo"
              ></ion-input>
            </div>
            <ion-button
              expand="block"
              shape="round"
              color="primary"
              type="submit"
              class="ion-margin-top"
              >{{'COMMON.CONTINUE' | translate}}</ion-button
            >
            <ion-button
              expand="block"
              shape="round"
              color="light"
              type="button"
              (click)="previous()"
              class="ion-margin-top"
              >{{'COMMON.BACK' | translate}}</ion-button
            >
            <!-- routerLink="/createpw" -->
          </div>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
