<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="previous()">
        <ion-icon class="back-btn-size" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Special Business Hours History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card class="special-hours-card">
    <ion-card-header>
      <ion-card-title> Diwali Slot </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>
        <div class="special-time-box">
          <ion-text>Start Date </ion-text>
          <ion-badge class="v-center" color="light">08.00 AM</ion-badge>
        </div>
        <div class="special-time-box">
          <ion-text>Start Time</ion-text>
          <ion-badge class="v-center" color="light">08.00 AM</ion-badge>
        </div>
        <div class="special-time-box">
          <ion-text>End Date </ion-text>
          <ion-badge class="v-center" color="light">10.00 PM</ion-badge>
        </div>
        <div class="special-time-box">
          <ion-text>End Time</ion-text>
          <ion-badge class="v-center" color="light">08.00 AM</ion-badge>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
